# Pandas

In [ ]:
# you can acess to data in google drive : 
# https://drive.google.com/drive/folders/1kvDhM7-XsXhk-AmTrWd-823WpbazWu9D?usp=sharing

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

## Series

In [1]:
# pandas series could build by 1.Strings 2.Digits(integers,float,...) 3.boolian 4.Dictionary

In [ ]:
names = ['ali','reza','ahmad','zahra']
print(names)
print(pd.Series(names))
print('--------------')
print(names[2])

['ali', 'reza', 'ahmad', 'zahra']
0      ali
1     reza
2    ahmad
3    zahra
dtype: object
--------------
ahmad

In [ ]:
numbers = [12,14,56,78,12]
pd.Series(numbers)

0    12
1    14
2    56
3    78
4    12
dtype: int64

In [ ]:
boolians = [True,False,False]
pd.Series(boolians)

0     True
1    False
2    False
dtype: bool

In [ ]:
menu = {'food1':10,'food2':25}
print(pd.Series(menu))
print('----------------')
print(pd.Series(menu)['food1'])

food1    10
food2    25
dtype: int64
----------------
10

In [ ]:
menu = {'food1':10,'food2':25}
menu['food1']

10

### Attributes & Parameters & Arguments

In [ ]:
names = ['ali','ahmad','reza','zahra']
series = pd.Series(names)
series

0      ali
1    ahmad
2     reza
3    zahra
dtype: object

In [ ]:
series.values

array(['ali', 'ahmad', 'reza', 'zahra'], dtype=object)

In [ ]:
series.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
menu = {'food1':10,'food2':25}
series = pd.Series(menu)
series

food1    10
food2    25
dtype: int64

In [ ]:
series.values

array([10, 25])

In [ ]:
series.index

Index(['food1', 'food2'], dtype='object')

In [ ]:
series.dtype

dtype('int64')

In [ ]:
fruits = ['Apple','Orange','Plum',"Grape","Blueberry"]
weekdays = ['Monday','Tuesday','Wendsday','Thursday','friday']

series = pd.Series(data=fruits ,index=weekdays)
print(series)
print('---------------')
series = pd.Series(fruits ,weekdays)
#series = pd.Series(weekdays,fruits)
print(series)

Monday          Apple
Tuesday        Orange
Wendsday         Plum
Thursday        Grape
friday      Blueberry
dtype: object
---------------
Monday          Apple
Tuesday        Orange
Wendsday         Plum
Thursday        Grape
friday      Blueberry
dtype: object

In [ ]:
series.values

array(['Apple', 'Orange', 'Plum', 'Grape', 'Blueberry'], dtype=object)

In [ ]:
series.index

Index(['Monday', 'Tuesday', 'Wendsday', 'Thursday', 'friday'], dtype='object')

In [ ]:
prices = [2.99,4.45,1.36,5.0,5.0,4.09,5.0]
series = pd.Series(prices)
series

0    2.99
1    4.45
2    1.36
3    5.00
4    5.00
5    4.09
6    5.00
dtype: float64

In [ ]:
series.sum()

27.89

In [ ]:
series.product()

9251.314150000002

In [ ]:
series.mean()

3.9842857142857144

In [ ]:
series.std()

1.366172965414179

In [ ]:
series.mode()

0    5.0
dtype: float64

In [ ]:
series.median()

4.45

In [ ]:
series.describe()

count    7.000000
mean     3.984286
std      1.366173
min      1.360000
25%      3.540000
50%      4.450000
75%      5.000000
max      5.000000
dtype: float64

In [ ]:
series.idxmax()

3

In [ ]:
series.max()

5.0

In [ ]:
series.idxmin()

2

In [ ]:
series.min()

1.36

In [ ]:
series[series.idxmax()]

5.0

In [ ]:
index = series.idxmax()
index

3

In [ ]:
series[index] # series[3]

5.0

### working with Data by Series

In [ ]:
# mount google drive 
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
! ls '/gdrive/MyDrive/Loop Accademy workshop'

bigmac.csv	    foods.csv		    nba.csv	     revenue.csv
blood_pressure.csv  fortune1000.csv	    PlantGrowth.csv  salesmen.csv
chi-test.csv	    google_stock_price.csv  pokemon.csv      ted.csv
employees.csv	    jamesbond.csv	    quarters.csv

In [ ]:
root = '/gdrive/MyDrive/Loop Accademy workshop/'
#pd.read_csv(root + "pokemon.csv").head()
pd.read_csv(root + "pokemon.csv").head(10)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

In [ ]:
pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon']).head()

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

In [ ]:
print(type(pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon'])))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon'] , squeeze=True)[:5]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
print(type(pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon'] , squeeze= True)))

<class 'pandas.core.series.Series'>

In [ ]:
pokemon = pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon'] , squeeze= True)

In [ ]:
print(type(pokemon))

<class 'pandas.core.series.Series'>

In [ ]:
pokemon.shape

(721,)

In [ ]:
sorted(pokemon)[10:]

['Altaria',
 'Amaura',
 'Ambipom',
 'Amoonguss',
 'Ampharos',
 'Anorith',
 'Arbok',
 'Arcanine',
 'Arceus',
 'Archen',
 'Archeops',
 'Ariados',
 'Armaldo',
 'Aromatisse',
 'Aron',
 'Articuno',
 'Audino',
 'Aurorus',
 'Avalugg',
 'Axew',
 'Azelf',
 'Azumarill',
 'Azurill',
 'Bagon',
 'Baltoy',
 'Banette',
 'Barbaracle',
 'Barboach',
 'Basculin',
 'Bastiodon',
 'Bayleef',
 'Beartic',
 'Beautifly',
 'Beedrill',
 'Beheeyem',
 'Beldum',
 'Bellossom',
 'Bellsprout',
 'Bergmite',
 'Bibarel',
 'Bidoof',
 'Binacle',
 'Bisharp',
 'Blastoise',
 'Blaziken',
 'Blissey',
 'Blitzle',
 'Boldore',
 'Bonsly',
 'Bouffalant',
 'Braixen',
 'Braviary',
 'Breloom',
 'Bronzong',
 'Bronzor',
 'Budew',
 'Buizel',
 'Bulbasaur',
 'Buneary',
 'Bunnelby',
 'Burmy',
 'Butterfree',
 'Cacnea',
 'Cacturne',
 'Camerupt',
 'Carbink',
 'Carnivine',
 'Carracosta',
 'Carvanha',
 'Cascoon',
 'Castform',
 'Caterpie',
 'Celebi',
 'Chandelure',
 'Chansey',
 'Charizard',
 'Charmander',
 'Charmeleon',
 'Chatot',
 'Cherrim',
 'Cherubi',
 'Chesnaught',
 'Chespin',
 'Chikorita',
 'Chimchar',
 'Chimecho',
 'Chinchou',
 'Chingling',
 'Cinccino',
 'Clamperl',
 'Clauncher',
 'Clawitzer',
 'Claydol',
 'Clefable',
 'Clefairy',
 'Cleffa',
 'Cloyster',
 'Cobalion',
 'Cofagrigus',
 'Combee',
 'Combusken',
 'Conkeldurr',
 'Corphish',
 'Corsola',
 'Cottonee',
 'Cradily',
 'Cranidos',
 'Crawdaunt',
 'Cresselia',
 'Croagunk',
 'Crobat',
 'Croconaw',
 'Crustle',
 'Cryogonal',
 'Cubchoo',
 'Cubone',
 'Cyndaquil',
 'Darkrai',
 'Darmanitan',
 'Darumaka',
 'Dedenne',
 'Deerling',
 'Deino',
 'Delcatty',
 'Delibird',
 'Delphox',
 'Deoxys',
 'Dewgong',
 'Dewott',
 'Dialga',
 'Diancie',
 'Diggersby',
 'Diglett',
 'Ditto',
 'Dodrio',
 'Doduo',
 'Donphan',
 'Doublade',
 'Dragalge',
 'Dragonair',
 'Dragonite',
 'Drapion',
 'Dratini',
 'Drifblim',
 'Drifloon',
 'Drilbur',
 'Drowzee',
 'Druddigon',
 'Ducklett',
 'Dugtrio',
 'Dunsparce',
 'Duosion',
 'Durant',
 'Dusclops',
 'Dusknoir',
 'Duskull',
 'Dustox',
 'Dwebble',
 'Eelektrik',
 'Eelektross',
 'Eevee',
 'Ekans',
 'Electabuzz',
 'Electivire',
 'Electrike',
 'Electrode',
 'Elekid',
 'Elgyem',
 'Emboar',
 'Emolga',
 'Empoleon',
 'Entei',
 'Escavalier',
 'Espeon',
 'Espurr',
 'Excadrill',
 'Exeggcute',
 'Exeggutor',
 'Exploud',
 "Farfetch'd",
 'Fearow',
 'Feebas',
 'Fennekin',
 'Feraligatr',
 'Ferroseed',
 'Ferrothorn',
 'Finneon',
 'Flaaffy',
 'Flabébé',
 'Flareon',
 'Fletchinder',
 'Fletchling',
 'Floatzel',
 'Floette',
 'Florges',
 'Flygon',
 'Foongus',
 'Forretress',
 'Fraxure',
 'Frillish',
 'Froakie',
 'Frogadier',
 'Froslass',
 'Furfrou',
 'Furret',
 'Gabite',
 'Gallade',
 'Galvantula',
 'Garbodor',
 'Garchomp',
 'Gardevoir',
 'Gastly',
 'Gastrodon',
 'Genesect',
 'Gengar',
 'Geodude',
 'Gible',
 'Gigalith',
 'Girafarig',
 'Giratina',
 'Glaceon',
 'Glalie',
 'Glameow',
 'Gligar',
 'Gliscor',
 'Gloom',
 'Gogoat',
 'Golbat',
 'Goldeen',
 'Golduck',
 'Golem',
 'Golett',
 'Golurk',
 'Goodra',
 'Goomy',
 'Gorebyss',
 'Gothita',
 'Gothitelle',
 'Gothorita',
 'Gourgeist',
 'Granbull',
 'Graveler',
 'Greninja',
 'Grimer',
 'Grotle',
 'Groudon',
 'Grovyle',
 'Growlithe',
 'Grumpig',
 'Gulpin',
 'Gurdurr',
 'Gyarados',
 'Happiny',
 'Hariyama',
 'Haunter',
 'Hawlucha',
 'Haxorus',
 'Heatmor',
 'Heatran',
 'Heliolisk',
 'Helioptile',
 'Heracross',
 'Herdier',
 'Hippopotas',
 'Hippowdon',
 'Hitmonchan',
 'Hitmonlee',
 'Hitmontop',
 'Ho-oh',
 'Honchkrow',
 'Honedge',
 'Hoopa',
 'Hoothoot',
 'Hoppip',
 'Horsea',
 'Houndoom',
 'Houndour',
 'Huntail',
 'Hydreigon',
 'Hypno',
 'Igglybuff',
 'Illumise',
 'Infernape',
 'Inkay',
 'Ivysaur',
 'Jellicent',
 'Jigglypuff',
 'Jirachi',
 'Jolteon',
 'Joltik',
 'Jumpluff',
 'Jynx',
 'Kabuto',
 'Kabutops',
 'Kadabra',
 'Kakuna',
 'Kangaskhan',
 'Karrablast',
 'Kecleon',
 'Keldeo',
 'Kingdra',
 'Kingler',
 'Kirlia',
 'Klang',
 'Klefki',
 'Klink',
 'Klinklang',
 'Koffing',
 'Krabby',
 'Kricketot',
 'Kricketune',
 'Krokorok',
 'Krookodile',
 'Kyogre',
 'Kyurem',
 'Lairon',
 'Lampent',
 'Landorus',
 'Lanturn',
 'Lapras',
 'Larvesta',
 'Larvitar',
 'Latias',
 'Latios',
 'Leafeon',
 'Leavanny',
 'Ledian',
 'Ledyba',
 'Lickilicky',
 'Lickitung',
 'Liepard',
 'Lileep',
 'Lilligant',
 'Lillipup',
 'Linoone',
 'Litleo',
 'Litwick',
 'Lombre',
 'Lopunny',
 'Lotad',
 'Loudred',
 'Lucario',
 'Ludicolo',
 'Lugia',
 'Lumineon',
 'Lunatone',
 'Luvdisc',
 'Luxio',
 'Luxray',
 'Machamp',
 'Machoke',
 'Machop',
 'Magby',
 'Magcargo',
 'Magikarp',
 'Magmar',
 'Magmortar',
 'Magnemite',
 'Magneton',
 'Magnezone',
 'Makuhita',
 'Malamar',
 'Mamoswine',
 'Manaphy',
 'Mandibuzz',
 'Manectric',
 'Mankey',
 'Mantine',
 'Mantyke',
 'Maractus',
 'Mareep',
 'Marill',
 'Marowak',
 'Marshtomp',
 'Masquerain',
 'Mawile',
 'Medicham',
 'Meditite',
 'Meganium',
 'Meloetta',
 'Meowstic',
 'Meowth',
 'Mesprit',
 'Metagross',
 'Metang',
 'Metapod',
 'Mew',
 'Mewtwo',
 'Mienfoo',
 'Mienshao',
 'Mightyena',
 'Milotic',
 'Miltank',
 'Mime Jr.',
 'Minccino',
 'Minun',
 'Misdreavus',
 'Mismagius',
 'Moltres',
 'Monferno',
 'Mothim',
 'Mr. Mime',
 'Mudkip',
 'Muk',
 'Munchlax',
 'Munna',
 'Murkrow',
 'Musharna',
 'Natu',
 'Nidoking',
 'Nidoqueen',
 'Nidoran',
 'Nidoran♂',
 'Nidorina',
 'Nidorino',
 'Nincada',
 'Ninetales',
 'Ninjask',
 'Noctowl',
 'Noibat',
 'Noivern',
 'Nosepass',
 'Numel',
 'Nuzleaf',
 'Octillery',
 'Oddish',
 'Omanyte',
 'Omastar',
 'Onix',
 'Oshawott',
 'Pachirisu',
 'Palkia',
 'Palpitoad',
 'Pancham',
 'Pangoro',
 'Panpour',
 'Pansage',
 'Pansear',
 'Paras',
 'Parasect',
 'Patrat',
 'Pawniard',
 'Pelipper',
 'Persian',
 'Petilil',
 'Phanpy',
 'Phantump',
 'Phione',
 'Pichu',
 'Pidgeot',
 'Pidgeotto',
 'Pidgey',
 'Pidove',
 'Pignite',
 'Pikachu',
 'Piloswine',
 'Pineco',
 'Pinsir',
 'Piplup',
 'Plusle',
 'Politoed',
 'Poliwag',
 'Poliwhirl',
 'Poliwrath',
 'Ponyta',
 'Poochyena',
 'Porygon',
 'Porygon-Z',
 'Porygon2',
 'Primeape',
 'Prinplup',
 'Probopass',
 'Psyduck',
 'Pumpkaboo',
 'Pupitar',
 'Purrloin',
 'Purugly',
 'Pyroar',
 'Quagsire',
 'Quilava',
 'Quilladin',
 'Qwilfish',
 'Raichu',
 'Raikou',
 'Ralts',
 'Rampardos',
 'Rapidash',
 'Raticate',
 'Rattata',
 'Rayquaza',
 'Regice',
 'Regigigas',
 'Regirock',
 'Registeel',
 'Relicanth',
 'Remoraid',
 'Reshiram',
 'Reuniclus',
 'Rhydon',
 'Rhyhorn',
 'Rhyperior',
 'Riolu',
 'Roggenrola',
 'Roselia',
 'Roserade',
 'Rotom',
 'Rufflet',
 'Sableye',
 'Salamence',
 'Samurott',
 'Sandile',
 'Sandshrew',
 'Sandslash',
 'Sawk',
 'Sawsbuck',
 'Scatterbug',
 'Sceptile',
 'Scizor',
 'Scolipede',
 'Scrafty',
 'Scraggy',
 'Scyther',
 'Seadra',
 'Seaking',
 'Sealeo',
 'Seedot',
 'Seel',
 'Seismitoad',
 'Sentret',
 'Serperior',
 'Servine',
 'Seviper',
 'Sewaddle',
 'Sharpedo',
 'Shaymin',
 'Shedinja',
 'Shelgon',
 'Shellder',
 'Shellos',
 'Shelmet',
 'Shieldon',
 'Shiftry',
 'Shinx',
 'Shroomish',
 'Shuckle',
 'Shuppet',
 'Sigilyph',
 'Silcoon',
 'Simipour',
 'Simisage',
 'Simisear',
 'Skarmory',
 'Skiddo',
 'Skiploom',
 'Skitty',
 'Skorupi',
 'Skrelp',
 'Skuntank',
 'Slaking',
 'Slakoth',
 'Sliggoo',
 'Slowbro',
 'Slowking',
 'Slowpoke',
 'Slugma',
 'Slurpuff',
 'Smeargle',
 'Smoochum',
 'Sneasel',
 'Snivy',
 'Snorlax',
 'Snorunt',
 'Snover',
 'Snubbull',
 'Solosis',
 'Solrock',
 'Spearow',
 'Spewpa',
 'Spheal',
 'Spinarak',
 'Spinda',
 'Spiritomb',
 'Spoink',
 'Spritzee',
 'Squirtle',
 'Stantler',
 'Staraptor',
 'Staravia',
 'Starly',
 'Starmie',
 'Staryu',
 'Steelix',
 'Stoutland',
 'Stunfisk',
 'Stunky',
 'Sudowoodo',
 'Suicune',
 'Sunflora',
 'Sunkern',
 'Surskit',
 'Swablu',
 'Swadloon',
 'Swalot',
 'Swampert',
 'Swanna',
 'Swellow',
 'Swinub',
 'Swirlix',
 'Swoobat',
 'Sylveon',
 'Taillow',
 'Talonflame',
 'Tangela',
 'Tangrowth',
 'Tauros',
 'Teddiursa',
 'Tentacool',
 'Tentacruel',
 'Tepig',
 'Terrakion',
 'Throh',
 'Thundurus',
 'Timburr',
 'Tirtouga',
 'Togekiss',
 'Togepi',
 'Togetic',
 'Torchic',
 'Torkoal',
 'Tornadus',
 'Torterra',
 'Totodile',
 'Toxicroak',
 'Tranquill',
 'Trapinch',
 'Treecko',
 'Trevenant',
 'Tropius',
 'Trubbish',
 'Turtwig',
 'Tympole',
 'Tynamo',
 'Typhlosion',
 'Tyranitar',
 'Tyrantrum',
 'Tyrogue',
 'Tyrunt',
 'Umbreon',
 'Unfezant',
 'Unown',
 'Ursaring',
 'Uxie',
 'Vanillish',
 'Vanillite',
 'Vanilluxe',
 'Vaporeon',
 'Venipede',
 'Venomoth',
 'Venonat',
 'Venusaur',
 'Vespiquen',
 'Vibrava',
 'Victini',
 'Victreebel',
 'Vigoroth',
 'Vileplume',
 'Virizion',
 'Vivillon',
 'Volbeat',
 'Volcanion',
 'Volcarona',
 'Voltorb',
 'Vullaby',
 'Vulpix',
 'Wailmer',
 'Wailord',
 'Walrein',
 'Wartortle',
 'Watchog',
 'Weavile',
 'Weedle',
 'Weepinbell',
 'Weezing',
 'Whimsicott',
 'Whirlipede',
 'Whiscash',
 'Whismur',
 'Wigglytuff',
 'Wingull',
 'Wobbuffet',
 'Woobat',
 'Wooper',
 'Wormadam',
 'Wurmple',
 'Wynaut',
 'Xatu',
 'Xerneas',
 'Yamask',
 'Yanma',
 'Yanmega',
 'Yveltal',
 'Zangoose',
 'Zapdos',
 'Zebstrika',
 'Zekrom',
 'Zigzagoon',
 'Zoroark',
 'Zorua',
 'Zubat',
 'Zweilous',
 'Zygarde']

In [ ]:
dict(pokemon)

{0: 'Bulbasaur',
 1: 'Ivysaur',
 2: 'Venusaur',
 3: 'Charmander',
 4: 'Charmeleon',
 5: 'Charizard',
 6: 'Squirtle',
 7: 'Wartortle',
 8: 'Blastoise',
 9: 'Caterpie',
 10: 'Metapod',
 11: 'Butterfree',
 12: 'Weedle',
 13: 'Kakuna',
 14: 'Beedrill',
 15: 'Pidgey',
 16: 'Pidgeotto',
 17: 'Pidgeot',
 18: 'Rattata',
 19: 'Raticate',
 20: 'Spearow',
 21: 'Fearow',
 22: 'Ekans',
 23: 'Arbok',
 24: 'Pikachu',
 25: 'Raichu',
 26: 'Sandshrew',
 27: 'Sandslash',
 28: 'Nidoran',
 29: 'Nidorina',
 30: 'Nidoqueen',
 31: 'Nidoran♂',
 32: 'Nidorino',
 33: 'Nidoking',
 34: 'Clefairy',
 35: 'Clefable',
 36: 'Vulpix',
 37: 'Ninetales',
 38: 'Jigglypuff',
 39: 'Wigglytuff',
 40: 'Zubat',
 41: 'Golbat',
 42: 'Oddish',
 43: 'Gloom',
 44: 'Vileplume',
 45: 'Paras',
 46: 'Parasect',
 47: 'Venonat',
 48: 'Venomoth',
 49: 'Diglett',
 50: 'Dugtrio',
 51: 'Meowth',
 52: 'Persian',
 53: 'Psyduck',
 54: 'Golduck',
 55: 'Mankey',
 56: 'Primeape',
 57: 'Growlithe',
 58: 'Arcanine',
 59: 'Poliwag',
 60: 'Poliwhirl',
 61: 'Poliwrath',
 62: 'Abra',
 63: 'Kadabra',
 64: 'Alakazam',
 65: 'Machop',
 66: 'Machoke',
 67: 'Machamp',
 68: 'Bellsprout',
 69: 'Weepinbell',
 70: 'Victreebel',
 71: 'Tentacool',
 72: 'Tentacruel',
 73: 'Geodude',
 74: 'Graveler',
 75: 'Golem',
 76: 'Ponyta',
 77: 'Rapidash',
 78: 'Slowpoke',
 79: 'Slowbro',
 80: 'Magnemite',
 81: 'Magneton',
 82: "Farfetch'd",
 83: 'Doduo',
 84: 'Dodrio',
 85: 'Seel',
 86: 'Dewgong',
 87: 'Grimer',
 88: 'Muk',
 89: 'Shellder',
 90: 'Cloyster',
 91: 'Gastly',
 92: 'Haunter',
 93: 'Gengar',
 94: 'Onix',
 95: 'Drowzee',
 96: 'Hypno',
 97: 'Krabby',
 98: 'Kingler',
 99: 'Voltorb',
 100: 'Electrode',
 101: 'Exeggcute',
 102: 'Exeggutor',
 103: 'Cubone',
 104: 'Marowak',
 105: 'Hitmonlee',
 106: 'Hitmonchan',
 107: 'Lickitung',
 108: 'Koffing',
 109: 'Weezing',
 110: 'Rhyhorn',
 111: 'Rhydon',
 112: 'Chansey',
 113: 'Tangela',
 114: 'Kangaskhan',
 115: 'Horsea',
 116: 'Seadra',
 117: 'Goldeen',
 118: 'Seaking',
 119: 'Staryu',
 120: 'Starmie',
 121: 'Mr. Mime',
 122: 'Scyther',
 123: 'Jynx',
 124: 'Electabuzz',
 125: 'Magmar',
 126: 'Pinsir',
 127: 'Tauros',
 128: 'Magikarp',
 129: 'Gyarados',
 130: 'Lapras',
 131: 'Ditto',
 132: 'Eevee',
 133: 'Vaporeon',
 134: 'Jolteon',
 135: 'Flareon',
 136: 'Porygon',
 137: 'Omanyte',
 138: 'Omastar',
 139: 'Kabuto',
 140: 'Kabutops',
 141: 'Aerodactyl',
 142: 'Snorlax',
 143: 'Articuno',
 144: 'Zapdos',
 145: 'Moltres',
 146: 'Dratini',
 147: 'Dragonair',
 148: 'Dragonite',
 149: 'Mewtwo',
 150: 'Mew',
 151: 'Chikorita',
 152: 'Bayleef',
 153: 'Meganium',
 154: 'Cyndaquil',
 155: 'Quilava',
 156: 'Typhlosion',
 157: 'Totodile',
 158: 'Croconaw',
 159: 'Feraligatr',
 160: 'Sentret',
 161: 'Furret',
 162: 'Hoothoot',
 163: 'Noctowl',
 164: 'Ledyba',
 165: 'Ledian',
 166: 'Spinarak',
 167: 'Ariados',
 168: 'Crobat',
 169: 'Chinchou',
 170: 'Lanturn',
 171: 'Pichu',
 172: 'Cleffa',
 173: 'Igglybuff',
 174: 'Togepi',
 175: 'Togetic',
 176: 'Natu',
 177: 'Xatu',
 178: 'Mareep',
 179: 'Flaaffy',
 180: 'Ampharos',
 181: 'Bellossom',
 182: 'Marill',
 183: 'Azumarill',
 184: 'Sudowoodo',
 185: 'Politoed',
 186: 'Hoppip',
 187: 'Skiploom',
 188: 'Jumpluff',
 189: 'Aipom',
 190: 'Sunkern',
 191: 'Sunflora',
 192: 'Yanma',
 193: 'Wooper',
 194: 'Quagsire',
 195: 'Espeon',
 196: 'Umbreon',
 197: 'Murkrow',
 198: 'Slowking',
 199: 'Misdreavus',
 200: 'Unown',
 201: 'Wobbuffet',
 202: 'Girafarig',
 203: 'Pineco',
 204: 'Forretress',
 205: 'Dunsparce',
 206: 'Gligar',
 207: 'Steelix',
 208: 'Snubbull',
 209: 'Granbull',
 210: 'Qwilfish',
 211: 'Scizor',
 212: 'Shuckle',
 213: 'Heracross',
 214: 'Sneasel',
 215: 'Teddiursa',
 216: 'Ursaring',
 217: 'Slugma',
 218: 'Magcargo',
 219: 'Swinub',
 220: 'Piloswine',
 221: 'Corsola',
 222: 'Remoraid',
 223: 'Octillery',
 224: 'Delibird',
 225: 'Mantine',
 226: 'Skarmory',
 227: 'Houndour',
 228: 'Houndoom',
 229: 'Kingdra',
 230: 'Phanpy',
 231: 'Donphan',
 232: 'Porygon2',
 233: 'Stantler',
 234: 'Smeargle',
 235: 'Tyrogue',
 236: 'Hitmontop',
 237: 'Smoochum',
 238: 'Elekid',
 239: 'Magby',
 240: 'Miltank',
 241: 'Blissey',
 242: 'Raikou',
 243: 'Entei',
 244: 'Suicune',
 245: 'Larvitar',
 246: 'Pupitar',
 247: 'Tyranitar',
 248: 'Lugia',
 249: 'Ho-oh',
 250: 'Celebi',
 251: 'Treecko',
 252: 'Grovyle',
 253: 'Sceptile',
 254: 'Torchic',
 255: 'Combusken',
 256: 'Blaziken',
 257: 'Mudkip',
 258: 'Marshtomp',
 259: 'Swampert',
 260: 'Poochyena',
 261: 'Mightyena',
 262: 'Zigzagoon',
 263: 'Linoone',
 264: 'Wurmple',
 265: 'Silcoon',
 266: 'Beautifly',
 267: 'Cascoon',
 268: 'Dustox',
 269: 'Lotad',
 270: 'Lombre',
 271: 'Ludicolo',
 272: 'Seedot',
 273: 'Nuzleaf',
 274: 'Shiftry',
 275: 'Taillow',
 276: 'Swellow',
 277: 'Wingull',
 278: 'Pelipper',
 279: 'Ralts',
 280: 'Kirlia',
 281: 'Gardevoir',
 282: 'Surskit',
 283: 'Masquerain',
 284: 'Shroomish',
 285: 'Breloom',
 286: 'Slakoth',
 287: 'Vigoroth',
 288: 'Slaking',
 289: 'Nincada',
 290: 'Ninjask',
 291: 'Shedinja',
 292: 'Whismur',
 293: 'Loudred',
 294: 'Exploud',
 295: 'Makuhita',
 296: 'Hariyama',
 297: 'Azurill',
 298: 'Nosepass',
 299: 'Skitty',
 300: 'Delcatty',
 301: 'Sableye',
 302: 'Mawile',
 303: 'Aron',
 304: 'Lairon',
 305: 'Aggron',
 306: 'Meditite',
 307: 'Medicham',
 308: 'Electrike',
 309: 'Manectric',
 310: 'Plusle',
 311: 'Minun',
 312: 'Volbeat',
 313: 'Illumise',
 314: 'Roselia',
 315: 'Gulpin',
 316: 'Swalot',
 317: 'Carvanha',
 318: 'Sharpedo',
 319: 'Wailmer',
 320: 'Wailord',
 321: 'Numel',
 322: 'Camerupt',
 323: 'Torkoal',
 324: 'Spoink',
 325: 'Grumpig',
 326: 'Spinda',
 327: 'Trapinch',
 328: 'Vibrava',
 329: 'Flygon',
 330: 'Cacnea',
 331: 'Cacturne',
 332: 'Swablu',
 333: 'Altaria',
 334: 'Zangoose',
 335: 'Seviper',
 336: 'Lunatone',
 337: 'Solrock',
 338: 'Barboach',
 339: 'Whiscash',
 340: 'Corphish',
 341: 'Crawdaunt',
 342: 'Baltoy',
 343: 'Claydol',
 344: 'Lileep',
 345: 'Cradily',
 346: 'Anorith',
 347: 'Armaldo',
 348: 'Feebas',
 349: 'Milotic',
 350: 'Castform',
 351: 'Kecleon',
 352: 'Shuppet',
 353: 'Banette',
 354: 'Duskull',
 355: 'Dusclops',
 356: 'Tropius',
 357: 'Chimecho',
 358: 'Absol',
 359: 'Wynaut',
 360: 'Snorunt',
 361: 'Glalie',
 362: 'Spheal',
 363: 'Sealeo',
 364: 'Walrein',
 365: 'Clamperl',
 366: 'Huntail',
 367: 'Gorebyss',
 368: 'Relicanth',
 369: 'Luvdisc',
 370: 'Bagon',
 371: 'Shelgon',
 372: 'Salamence',
 373: 'Beldum',
 374: 'Metang',
 375: 'Metagross',
 376: 'Regirock',
 377: 'Regice',
 378: 'Registeel',
 379: 'Latias',
 380: 'Latios',
 381: 'Kyogre',
 382: 'Groudon',
 383: 'Rayquaza',
 384: 'Jirachi',
 385: 'Deoxys',
 386: 'Turtwig',
 387: 'Grotle',
 388: 'Torterra',
 389: 'Chimchar',
 390: 'Monferno',
 391: 'Infernape',
 392: 'Piplup',
 393: 'Prinplup',
 394: 'Empoleon',
 395: 'Starly',
 396: 'Staravia',
 397: 'Staraptor',
 398: 'Bidoof',
 399: 'Bibarel',
 400: 'Kricketot',
 401: 'Kricketune',
 402: 'Shinx',
 403: 'Luxio',
 404: 'Luxray',
 405: 'Budew',
 406: 'Roserade',
 407: 'Cranidos',
 408: 'Rampardos',
 409: 'Shieldon',
 410: 'Bastiodon',
 411: 'Burmy',
 412: 'Wormadam',
 413: 'Mothim',
 414: 'Combee',
 415: 'Vespiquen',
 416: 'Pachirisu',
 417: 'Buizel',
 418: 'Floatzel',
 419: 'Cherubi',
 420: 'Cherrim',
 421: 'Shellos',
 422: 'Gastrodon',
 423: 'Ambipom',
 424: 'Drifloon',
 425: 'Drifblim',
 426: 'Buneary',
 427: 'Lopunny',
 428: 'Mismagius',
 429: 'Honchkrow',
 430: 'Glameow',
 431: 'Purugly',
 432: 'Chingling',
 433: 'Stunky',
 434: 'Skuntank',
 435: 'Bronzor',
 436: 'Bronzong',
 437: 'Bonsly',
 438: 'Mime Jr.',
 439: 'Happiny',
 440: 'Chatot',
 441: 'Spiritomb',
 442: 'Gible',
 443: 'Gabite',
 444: 'Garchomp',
 445: 'Munchlax',
 446: 'Riolu',
 447: 'Lucario',
 448: 'Hippopotas',
 449: 'Hippowdon',
 450: 'Skorupi',
 451: 'Drapion',
 452: 'Croagunk',
 453: 'Toxicroak',
 454: 'Carnivine',
 455: 'Finneon',
 456: 'Lumineon',
 457: 'Mantyke',
 458: 'Snover',
 459: 'Abomasnow',
 460: 'Weavile',
 461: 'Magnezone',
 462: 'Lickilicky',
 463: 'Rhyperior',
 464: 'Tangrowth',
 465: 'Electivire',
 466: 'Magmortar',
 467: 'Togekiss',
 468: 'Yanmega',
 469: 'Leafeon',
 470: 'Glaceon',
 471: 'Gliscor',
 472: 'Mamoswine',
 473: 'Porygon-Z',
 474: 'Gallade',
 475: 'Probopass',
 476: 'Dusknoir',
 477: 'Froslass',
 478: 'Rotom',
 479: 'Uxie',
 480: 'Mesprit',
 481: 'Azelf',
 482: 'Dialga',
 483: 'Palkia',
 484: 'Heatran',
 485: 'Regigigas',
 486: 'Giratina',
 487: 'Cresselia',
 488: 'Phione',
 489: 'Manaphy',
 490: 'Darkrai',
 491: 'Shaymin',
 492: 'Arceus',
 493: 'Victini',
 494: 'Snivy',
 495: 'Servine',
 496: 'Serperior',
 497: 'Tepig',
 498: 'Pignite',
 499: 'Emboar',
 500: 'Oshawott',
 501: 'Dewott',
 502: 'Samurott',
 503: 'Patrat',
 504: 'Watchog',
 505: 'Lillipup',
 506: 'Herdier',
 507: 'Stoutland',
 508: 'Purrloin',
 509: 'Liepard',
 510: 'Pansage',
 511: 'Simisage',
 512: 'Pansear',
 513: 'Simisear',
 514: 'Panpour',
 515: 'Simipour',
 516: 'Munna',
 517: 'Musharna',
 518: 'Pidove',
 519: 'Tranquill',
 520: 'Unfezant',
 521: 'Blitzle',
 522: 'Zebstrika',
 523: 'Roggenrola',
 524: 'Boldore',
 525: 'Gigalith',
 526: 'Woobat',
 527: 'Swoobat',
 528: 'Drilbur',
 529: 'Excadrill',
 530: 'Audino',
 531: 'Timburr',
 532: 'Gurdurr',
 533: 'Conkeldurr',
 534: 'Tympole',
 535: 'Palpitoad',
 536: 'Seismitoad',
 537: 'Throh',
 538: 'Sawk',
 539: 'Sewaddle',
 540: 'Swadloon',
 541: 'Leavanny',
 542: 'Venipede',
 543: 'Whirlipede',
 544: 'Scolipede',
 545: 'Cottonee',
 546: 'Whimsicott',
 547: 'Petilil',
 548: 'Lilligant',
 549: 'Basculin',
 550: 'Sandile',
 551: 'Krokorok',
 552: 'Krookodile',
 553: 'Darumaka',
 554: 'Darmanitan',
 555: 'Maractus',
 556: 'Dwebble',
 557: 'Crustle',
 558: 'Scraggy',
 559: 'Scrafty',
 560: 'Sigilyph',
 561: 'Yamask',
 562: 'Cofagrigus',
 563: 'Tirtouga',
 564: 'Carracosta',
 565: 'Archen',
 566: 'Archeops',
 567: 'Trubbish',
 568: 'Garbodor',
 569: 'Zorua',
 570: 'Zoroark',
 571: 'Minccino',
 572: 'Cinccino',
 573: 'Gothita',
 574: 'Gothorita',
 575: 'Gothitelle',
 576: 'Solosis',
 577: 'Duosion',
 578: 'Reuniclus',
 579: 'Ducklett',
 580: 'Swanna',
 581: 'Vanillite',
 582: 'Vanillish',
 583: 'Vanilluxe',
 584: 'Deerling',
 585: 'Sawsbuck',
 586: 'Emolga',
 587: 'Karrablast',
 588: 'Escavalier',
 589: 'Foongus',
 590: 'Amoonguss',
 591: 'Frillish',
 592: 'Jellicent',
 593: 'Alomomola',
 594: 'Joltik',
 595: 'Galvantula',
 596: 'Ferroseed',
 597: 'Ferrothorn',
 598: 'Klink',
 599: 'Klang',
 600: 'Klinklang',
 601: 'Tynamo',
 602: 'Eelektrik',
 603: 'Eelektross',
 604: 'Elgyem',
 605: 'Beheeyem',
 606: 'Litwick',
 607: 'Lampent',
 608: 'Chandelure',
 609: 'Axew',
 610: 'Fraxure',
 611: 'Haxorus',
 612: 'Cubchoo',
 613: 'Beartic',
 614: 'Cryogonal',
 615: 'Shelmet',
 616: 'Accelgor',
 617: 'Stunfisk',
 618: 'Mienfoo',
 619: 'Mienshao',
 620: 'Druddigon',
 621: 'Golett',
 622: 'Golurk',
 623: 'Pawniard',
 624: 'Bisharp',
 625: 'Bouffalant',
 626: 'Rufflet',
 627: 'Braviary',
 628: 'Vullaby',
 629: 'Mandibuzz',
 630: 'Heatmor',
 631: 'Durant',
 632: 'Deino',
 633: 'Zweilous',
 634: 'Hydreigon',
 635: 'Larvesta',
 636: 'Volcarona',
 637: 'Cobalion',
 638: 'Terrakion',
 639: 'Virizion',
 640: 'Tornadus',
 641: 'Thundurus',
 642: 'Reshiram',
 643: 'Zekrom',
 644: 'Landorus',
 645: 'Kyurem',
 646: 'Keldeo',
 647: 'Meloetta',
 648: 'Genesect',
 649: 'Chespin',
 650: 'Quilladin',
 651: 'Chesnaught',
 652: 'Fennekin',
 653: 'Braixen',
 654: 'Delphox',
 655: 'Froakie',
 656: 'Frogadier',
 657: 'Greninja',
 658: 'Bunnelby',
 659: 'Diggersby',
 660: 'Fletchling',
 661: 'Fletchinder',
 662: 'Talonflame',
 663: 'Scatterbug',
 664: 'Spewpa',
 665: 'Vivillon',
 666: 'Litleo',
 667: 'Pyroar',
 668: 'Flabébé',
 669: 'Floette',
 670: 'Florges',
 671: 'Skiddo',
 672: 'Gogoat',
 673: 'Pancham',
 674: 'Pangoro',
 675: 'Furfrou',
 676: 'Espurr',
 677: 'Meowstic',
 678: 'Honedge',
 679: 'Doublade',
 680: 'Aegislash',
 681: 'Spritzee',
 682: 'Aromatisse',
 683: 'Swirlix',
 684: 'Slurpuff',
 685: 'Inkay',
 686: 'Malamar',
 687: 'Binacle',
 688: 'Barbaracle',
 689: 'Skrelp',
 690: 'Dragalge',
 691: 'Clauncher',
 692: 'Clawitzer',
 693: 'Helioptile',
 694: 'Heliolisk',
 695: 'Tyrunt',
 696: 'Tyrantrum',
 697: 'Amaura',
 698: 'Aurorus',
 699: 'Sylveon',
 700: 'Hawlucha',
 701: 'Dedenne',
 702: 'Carbink',
 703: 'Goomy',
 704: 'Sliggoo',
 705: 'Goodra',
 706: 'Klefki',
 707: 'Phantump',
 708: 'Trevenant',
 709: 'Pumpkaboo',
 710: 'Gourgeist',
 711: 'Bergmite',
 712: 'Avalugg',
 713: 'Noibat',
 714: 'Noivern',
 715: 'Xerneas',
 716: 'Yveltal',
 717: 'Zygarde',
 718: 'Diancie',
 719: 'Hoopa',
 720: 'Volcanion'}

In [ ]:
max(pokemon)

'Zygarde'

In [ ]:
min(pokemon)

'Abomasnow'

### The .sort_values() Method

In [ ]:
pokemon = pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon'] , squeeze= True)

In [ ]:
pokemon.sort_values()[:5]

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [ ]:
pokemon.sort_values(ascending = False)[:5]

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [ ]:
pokemon[:5]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
pokemon.sort_values(ascending = False,inplace = True)
pokemon[:5]

# pokemon = pokemon.sort_values(ascending = False)

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

### The .sort_index() Method

In [ ]:
pokemon = pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon'] , squeeze= True)

In [ ]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
pokemon.sort_values(ascending=False,inplace= True)
pokemon.head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [ ]:
pokemon.sort_index().head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
pokemon.sort_index(ascending=True , inplace=True)
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

### Python's 'in' keyword

In [ ]:
'Bulbasaur' in pokemon.values

True

In [ ]:
'Bulbasaur' in pokemon

False

In [ ]:
print(1 in pokemon)
print(1 in pokemon.index)

True
True

### Extract Values by Index Position

In [ ]:
pokemon = pd.read_csv(root + "pokemon.csv",usecols = ['Pokemon'] , squeeze= True)

In [ ]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
pokemon[500]

'Oshawott'

In [ ]:
pokemon[[100,200,300,400,500]]

100    Electrode
200        Unown
300     Delcatty
400    Kricketot
500     Oshawott
Name: Pokemon, dtype: object

In [ ]:
pokemon[50:55]

50    Dugtrio
51     Meowth
52    Persian
53    Psyduck
54    Golduck
Name: Pokemon, dtype: object

In [ ]:
pokemon.tail(5)

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [ ]:
pokemon[-5:]

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [ ]:
pokemon[-5:0]

Series([], Name: Pokemon, dtype: object)

In [ ]:
pokemon[0:-5]

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
Name: Pokemon, Length: 716, dtype: object

In [ ]:
pokemon[-15:]

706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [ ]:
pokemon[-15:-10]

706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
Name: Pokemon, dtype: object

### Extract Values by Index Label

In [ ]:
root + 'pokemon.csv'

'/gdrive/MyDrive/Loop Accademy workshop/pokemon.csv'

In [ ]:
pokemon = pd.read_csv(root + 'pokemon.csv')
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [ ]:
pokemon = pd.read_csv(root + 'pokemon.csv' ,index_col=["Pokemon"],squeeze=True)
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [ ]:
pokemon[0]

'Grass'

In [ ]:
pokemon['Bulbasaur']

'Grass'

In [ ]:
pokemon[['Bulbasaur','Charmeleon']]

Pokemon
Bulbasaur     Grass
Charmeleon     Fire
Name: Type, dtype: object

In [ ]:
pokemon.index

Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       ...
       'Bergmite', 'Avalugg', 'Noibat', 'Noivern', 'Xerneas', 'Yveltal',
       'Zygarde', 'Diancie', 'Hoopa', 'Volcanion'],
      dtype='object', name='Pokemon', length=721)

In [ ]:
'Digimon' in pokemon.index

False

In [ ]:
pokemon['Bulbasaur':'Charmeleon']

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [ ]:
pokemon.sort_index(ascending=True,inplace=True)
pokemon.head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [ ]:
pokemon.get(key = 'Aegislash')

'Steel'

In [ ]:
pokemon.get(key = ['Aegislash',"Absol"])

Pokemon
Aegislash    Steel
Absol         Dark
Name: Type, dtype: object

In [ ]:
print(pokemon.get(key = 'Digimon'))

None

In [ ]:
pokemon.get(key = 'Digimon' ,default = "This is not a pokemon")

'This is not a pokemon'

In [ ]:
print(pokemon.get(key = ['Digimon','Aegislash'] ,default = "This is not a pokemon"))

This is not a pokemon

In [ ]:
print(pokemon.get(key = ['Digimon','Belaman'] ,default = "This is not a pokemon"))

This is not a pokemon

### The .value_counts() Method

In [ ]:
pokemon = pd.read_csv(root + 'pokemon.csv',index_col='Pokemon',squeeze=True)
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [ ]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [ ]:
pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [ ]:
pokemon.value_counts().sum()

721

In [ ]:
pokemon.value_counts().mean()

40.05555555555556

In [ ]:
pokemon.count()

721

### The .apply() Method

In [ ]:
google = pd.read_csv(root + 'google_stock_price.csv',squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [ ]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number <650 :
        return "Satisfactory"
    else:
        return "Incredibile!"

In [ ]:
google.apply(classify_performance).head()

0    OK
1    OK
2    OK
3    OK
4    OK
Name: Stock Price, dtype: object

In [ ]:
google.apply(classify_performance).tail()

3007    Incredibile!
3008    Incredibile!
3009    Incredibile!
3010    Incredibile!
3011    Incredibile!
Name: Stock Price, dtype: object

In [ ]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [ ]:
google.apply(lambda stock_price: stock_price + 1).head()

0    51.12
1    55.10
2    55.65
3    53.38
4    53.95
Name: Stock Price, dtype: float64

### The .map() Method

In [ ]:
pokeman_names = pd.read_csv(root + 'pokemon.csv',usecols=['Pokemon'],squeeze=True)
pokeman_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
pokeman_types = pd.read_csv(root + 'pokemon.csv',index_col=['Pokemon'],squeeze=True)
pokeman_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [ ]:
pokeman_names.map(pokeman_types).head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object

In [ ]:
pokeman_types = pd.read_csv(root + 'pokemon.csv',index_col=['Pokemon'],squeeze=True).to_dict()
pokeman_types

{'Abomasnow': 'Grass',
 'Abra': 'Psychic',
 'Absol': 'Dark',
 'Accelgor': 'Bug',
 'Aegislash': 'Steel',
 'Aerodactyl': 'Rock',
 'Aggron': 'Steel',
 'Aipom': 'Normal',
 'Alakazam': 'Psychic',
 'Alomomola': 'Water',
 'Altaria': 'Dragon',
 'Amaura': 'Rock',
 'Ambipom': 'Normal',
 'Amoonguss': 'Grass',
 'Ampharos': 'Electric',
 'Anorith': 'Rock',
 'Arbok': 'Poison',
 'Arcanine': 'Fire',
 'Arceus': 'Normal',
 'Archen': 'Rock',
 'Archeops': 'Rock',
 'Ariados': 'Bug',
 'Armaldo': 'Rock',
 'Aromatisse': 'Fairy',
 'Aron': 'Steel',
 'Articuno': 'Ice',
 'Audino': 'Normal',
 'Aurorus': 'Rock',
 'Avalugg': 'Ice',
 'Axew': 'Dragon',
 'Azelf': 'Psychic',
 'Azumarill': 'Water',
 'Azurill': 'Normal',
 'Bagon': 'Dragon',
 'Baltoy': 'Ground',
 'Banette': 'Ghost',
 'Barbaracle': 'Rock',
 'Barboach': 'Water',
 'Basculin': 'Water',
 'Bastiodon': 'Rock',
 'Bayleef': 'Grass',
 'Beartic': 'Ice',
 'Beautifly': 'Bug',
 'Beedrill': 'Bug',
 'Beheeyem': 'Psychic',
 'Beldum': 'Steel',
 'Bellossom': 'Grass',
 'Bellsprout': 'Grass',
 'Bergmite': 'Ice',
 'Bibarel': 'Normal',
 'Bidoof': 'Normal',
 'Binacle': 'Rock',
 'Bisharp': 'Dark',
 'Blastoise': 'Water',
 'Blaziken': 'Fire',
 'Blissey': 'Normal',
 'Blitzle': 'Electric',
 'Boldore': 'Rock',
 'Bonsly': 'Rock',
 'Bouffalant': 'Normal',
 'Braixen': 'Fire',
 'Braviary': 'Normal',
 'Breloom': 'Grass',
 'Bronzong': 'Steel',
 'Bronzor': 'Steel',
 'Budew': 'Grass',
 'Buizel': 'Water',
 'Bulbasaur': 'Grass',
 'Buneary': 'Normal',
 'Bunnelby': 'Normal',
 'Burmy': 'Bug',
 'Butterfree': 'Bug',
 'Cacnea': 'Grass',
 'Cacturne': 'Grass',
 'Camerupt': 'Fire',
 'Carbink': 'Rock',
 'Carnivine': 'Grass',
 'Carracosta': 'Water',
 'Carvanha': 'Water',
 'Cascoon': 'Bug',
 'Castform': 'Normal',
 'Caterpie': 'Bug',
 'Celebi': 'Psychic',
 'Chandelure': 'Ghost',
 'Chansey': 'Normal',
 'Charizard': 'Fire',
 'Charmander': 'Fire',
 'Charmeleon': 'Fire',
 'Chatot': 'Normal',
 'Cherrim': 'Grass',
 'Cherubi': 'Grass',
 'Chesnaught': 'Grass',
 'Chespin': 'Grass',
 'Chikorita': 'Grass',
 'Chimchar': 'Fire',
 'Chimecho': 'Psychic',
 'Chinchou': 'Water',
 'Chingling': 'Psychic',
 'Cinccino': 'Normal',
 'Clamperl': 'Water',
 'Clauncher': 'Water',
 'Clawitzer': 'Water',
 'Claydol': 'Ground',
 'Clefable': 'Fairy',
 'Clefairy': 'Fairy',
 'Cleffa': 'Fairy',
 'Cloyster': 'Water',
 'Cobalion': 'Steel',
 'Cofagrigus': 'Ghost',
 'Combee': 'Bug',
 'Combusken': 'Fire',
 'Conkeldurr': 'Fighting',
 'Corphish': 'Water',
 'Corsola': 'Water',
 'Cottonee': 'Grass',
 'Cradily': 'Rock',
 'Cranidos': 'Rock',
 'Crawdaunt': 'Water',
 'Cresselia': 'Psychic',
 'Croagunk': 'Poison',
 'Crobat': 'Poison',
 'Croconaw': 'Water',
 'Crustle': 'Bug',
 'Cryogonal': 'Ice',
 'Cubchoo': 'Ice',
 'Cubone': 'Ground',
 'Cyndaquil': 'Fire',
 'Darkrai': 'Dark',
 'Darmanitan': 'Fire',
 'Darumaka': 'Fire',
 'Dedenne': 'Electric',
 'Deerling': 'Normal',
 'Deino': 'Dark',
 'Delcatty': 'Normal',
 'Delibird': 'Ice',
 'Delphox': 'Fire',
 'Deoxys': 'Psychic',
 'Dewgong': 'Water',
 'Dewott': 'Water',
 'Dialga': 'Steel',
 'Diancie': 'Rock',
 'Diggersby': 'Normal',
 'Diglett': 'Ground',
 'Ditto': 'Normal',
 'Dodrio': 'Normal',
 'Doduo': 'Normal',
 'Donphan': 'Ground',
 'Doublade': 'Steel',
 'Dragalge': 'Poison',
 'Dragonair': 'Dragon',
 'Dragonite': 'Dragon',
 'Drapion': 'Poison',
 'Dratini': 'Dragon',
 'Drifblim': 'Ghost',
 'Drifloon': 'Ghost',
 'Drilbur': 'Ground',
 'Drowzee': 'Psychic',
 'Druddigon': 'Dragon',
 'Ducklett': 'Water',
 'Dugtrio': 'Ground',
 'Dunsparce': 'Normal',
 'Duosion': 'Psychic',
 'Durant': 'Bug',
 'Dusclops': 'Ghost',
 'Dusknoir': 'Ghost',
 'Duskull': 'Ghost',
 'Dustox': 'Bug',
 'Dwebble': 'Bug',
 'Eelektrik': 'Electric',
 'Eelektross': 'Electric',
 'Eevee': 'Normal',
 'Ekans': 'Poison',
 'Electabuzz': 'Electric',
 'Electivire': 'Electric',
 'Electrike': 'Electric',
 'Electrode': 'Electric',
 'Elekid': 'Electric',
 'Elgyem': 'Psychic',
 'Emboar': 'Fire',
 'Emolga': 'Electric',
 'Empoleon': 'Water',
 'Entei': 'Fire',
 'Escavalier': 'Bug',
 'Espeon': 'Psychic',
 'Espurr': 'Psychic',
 'Excadrill': 'Ground',
 'Exeggcute': 'Grass',
 'Exeggutor': 'Grass',
 'Exploud': 'Normal',
 "Farfetch'd": 'Normal',
 'Fearow': 'Normal',
 'Feebas': 'Water',
 'Fennekin': 'Fire',
 'Feraligatr': 'Water',
 'Ferroseed': 'Grass',
 'Ferrothorn': 'Grass',
 'Finneon': 'Water',
 'Flaaffy': 'Electric',
 'Flabébé': 'Fairy',
 'Flareon': 'Fire',
 'Fletchinder': 'Fire',
 'Fletchling': 'Normal',
 'Floatzel': 'Water',
 'Floette': 'Fairy',
 'Florges': 'Fairy',
 'Flygon': 'Ground',
 'Foongus': 'Grass',
 'Forretress': 'Bug',
 'Fraxure': 'Dragon',
 'Frillish': 'Water',
 'Froakie': 'Water',
 'Frogadier': 'Water',
 'Froslass': 'Ice',
 'Furfrou': 'Normal',
 'Furret': 'Normal',
 'Gabite': 'Dragon',
 'Gallade': 'Psychic',
 'Galvantula': 'Bug',
 'Garbodor': 'Poison',
 'Garchomp': 'Dragon',
 'Gardevoir': 'Psychic',
 'Gastly': 'Ghost',
 'Gastrodon': 'Water',
 'Genesect': 'Bug',
 'Gengar': 'Ghost',
 'Geodude': 'Rock',
 'Gible': 'Dragon',
 'Gigalith': 'Rock',
 'Girafarig': 'Normal',
 'Giratina': 'Ghost',
 'Glaceon': 'Ice',
 'Glalie': 'Ice',
 'Glameow': 'Normal',
 'Gligar': 'Ground',
 'Gliscor': 'Ground',
 'Gloom': 'Grass',
 'Gogoat': 'Grass',
 'Golbat': 'Poison',
 'Goldeen': 'Water',
 'Golduck': 'Water',
 'Golem': 'Rock',
 'Golett': 'Ground',
 'Golurk': 'Ground',
 'Goodra': 'Dragon',
 'Goomy': 'Dragon',
 'Gorebyss': 'Water',
 'Gothita': 'Psychic',
 'Gothitelle': 'Psychic',
 'Gothorita': 'Psychic',
 'Gourgeist': 'Ghost',
 'Granbull': 'Fairy',
 'Graveler': 'Rock',
 'Greninja': 'Water',
 'Grimer': 'Poison',
 'Grotle': 'Grass',
 'Groudon': 'Ground',
 'Grovyle': 'Grass',
 'Growlithe': 'Fire',
 'Grumpig': 'Psychic',
 'Gulpin': 'Poison',
 'Gurdurr': 'Fighting',
 'Gyarados': 'Water',
 'Happiny': 'Normal',
 'Hariyama': 'Fighting',
 'Haunter': 'Ghost',
 'Hawlucha': 'Fighting',
 'Haxorus': 'Dragon',
 'Heatmor': 'Fire',
 'Heatran': 'Fire',
 'Heliolisk': 'Electric',
 'Helioptile': 'Electric',
 'Heracross': 'Bug',
 'Herdier': 'Normal',
 'Hippopotas': 'Ground',
 'Hippowdon': 'Ground',
 'Hitmonchan': 'Fighting',
 'Hitmonlee': 'Fighting',
 'Hitmontop': 'Fighting',
 'Ho-oh': 'Fire',
 'Honchkrow': 'Dark',
 'Honedge': 'Steel',
 'Hoopa': 'Psychic',
 'Hoothoot': 'Normal',
 'Hoppip': 'Grass',
 'Horsea': 'Water',
 'Houndoom': 'Dark',
 'Houndour': 'Dark',
 'Huntail': 'Water',
 'Hydreigon': 'Dark',
 'Hypno': 'Psychic',
 'Igglybuff': 'Normal',
 'Illumise': 'Bug',
 'Infernape': 'Fire',
 'Inkay': 'Dark',
 'Ivysaur': 'Grass',
 'Jellicent': 'Water',
 'Jigglypuff': 'Normal',
 'Jirachi': 'Steel',
 'Jolteon': 'Electric',
 'Joltik': 'Bug',
 'Jumpluff': 'Grass',
 'Jynx': 'Ice',
 'Kabuto': 'Rock',
 'Kabutops': 'Rock',
 'Kadabra': 'Psychic',
 'Kakuna': 'Bug',
 'Kangaskhan': 'Normal',
 'Karrablast': 'Bug',
 'Kecleon': 'Normal',
 'Keldeo': 'Water',
 'Kingdra': 'Water',
 'Kingler': 'Water',
 'Kirlia': 'Psychic',
 'Klang': 'Steel',
 'Klefki': 'Steel',
 'Klink': 'Steel',
 'Klinklang': 'Steel',
 'Koffing': 'Poison',
 'Krabby': 'Water',
 'Kricketot': 'Bug',
 'Kricketune': 'Bug',
 'Krokorok': 'Ground',
 'Krookodile': 'Ground',
 'Kyogre': 'Water',
 'Kyurem': 'Dragon',
 'Lairon': 'Steel',
 'Lampent': 'Ghost',
 'Landorus': 'Ground',
 'Lanturn': 'Water',
 'Lapras': 'Water',
 'Larvesta': 'Bug',
 'Larvitar': 'Rock',
 'Latias': 'Dragon',
 'Latios': 'Dragon',
 'Leafeon': 'Grass',
 'Leavanny': 'Bug',
 'Ledian': 'Bug',
 'Ledyba': 'Bug',
 'Lickilicky': 'Normal',
 'Lickitung': 'Normal',
 'Liepard': 'Dark',
 'Lileep': 'Rock',
 'Lilligant': 'Grass',
 'Lillipup': 'Normal',
 'Linoone': 'Normal',
 'Litleo': 'Fire',
 'Litwick': 'Ghost',
 'Lombre': 'Water',
 'Lopunny': 'Normal',
 'Lotad': 'Water',
 'Loudred': 'Normal',
 'Lucario': 'Fighting',
 'Ludicolo': 'Water',
 'Lugia': 'Psychic',
 'Lumineon': 'Water',
 'Lunatone': 'Rock',
 'Luvdisc': 'Water',
 'Luxio': 'Electric',
 'Luxray': 'Electric',
 'Machamp': 'Fighting',
 'Machoke': 'Fighting',
 'Machop': 'Fighting',
 'Magby': 'Fire',
 'Magcargo': 'Fire',
 'Magikarp': 'Water',
 'Magmar': 'Fire',
 'Magmortar': 'Fire',
 'Magnemite': 'Electric',
 'Magneton': 'Electric',
 'Magnezone': 'Electric',
 'Makuhita': 'Fighting',
 'Malamar': 'Dark',
 'Mamoswine': 'Ice',
 'Manaphy': 'Water',
 'Mandibuzz': 'Dark',
 'Manectric': 'Electric',
 'Mankey': 'Fighting',
 'Mantine': 'Water',
 'Mantyke': 'Water',
 'Maractus': 'Grass',
 'Mareep': 'Electric',
 'Marill': 'Water',
 'Marowak': 'Ground',
 'Marshtomp': 'Water',
 'Masquerain': 'Bug',
 'Mawile': 'Steel',
 'Medicham': 'Fighting',
 'Meditite': 'Fighting',
 'Meganium': 'Grass',
 'Meloetta': 'Normal',
 'Meowstic': 'Psychic',
 'Meowth': 'Normal',
 'Mesprit': 'Psychic',
 'Metagross': 'Steel',
 'Metang': 'Steel',
 'Metapod': 'Bug',
 'Mew': 'Psychic',
 'Mewtwo': 'Psychic',
 'Mienfoo': 'Fighting',
 'Mienshao': 'Fighting',
 'Mightyena': 'Dark',
 'Milotic': 'Water',
 'Miltank': 'Normal',
 'Mime Jr.': 'Psychic',
 'Minccino': 'Normal',
 'Minun': 'Electric',
 'Misdreavus': 'Ghost',
 'Mismagius': 'Ghost',
 'Moltres': 'Fire',
 'Monferno': 'Fire',
 'Mothim': 'Bug',
 'Mr. Mime': 'Psychic',
 'Mudkip': 'Water',
 'Muk': 'Poison',
 'Munchlax': 'Normal',
 'Munna': 'Psychic',
 'Murkrow': 'Dark',
 'Musharna': 'Psychic',
 'Natu': 'Psychic',
 'Nidoking': 'Poison',
 'Nidoqueen': 'Poison',
 'Nidoran': 'Poison',
 'Nidoran♂': 'Poison',
 'Nidorina': 'Poison',
 'Nidorino': 'Poison',
 'Nincada': 'Bug',
 'Ninetales': 'Fire',
 'Ninjask': 'Bug',
 'Noctowl': 'Normal',
 'Noibat': 'Flying',
 'Noivern': 'Flying',
 'Nosepass': 'Rock',
 'Numel': 'Fire',
 'Nuzleaf': 'Grass',
 'Octillery': 'Water',
 'Oddish': 'Grass',
 'Omanyte': 'Rock',
 'Omastar': 'Rock',
 'Onix': 'Rock',
 'Oshawott': 'Water',
 'Pachirisu': 'Electric',
 'Palkia': 'Water',
 'Palpitoad': 'Water',
 'Pancham': 'Fighting',
 'Pangoro': 'Fighting',
 'Panpour': 'Water',
 'Pansage': 'Grass',
 'Pansear': 'Fire',
 'Paras': 'Bug',
 'Parasect': 'Bug',
 'Patrat': 'Normal',
 'Pawniard': 'Dark',
 'Pelipper': 'Water',
 'Persian': 'Normal',
 'Petilil': 'Grass',
 'Phanpy': 'Ground',
 'Phantump': 'Ghost',
 'Phione': 'Water',
 'Pichu': 'Electric',
 'Pidgeot': 'Normal',
 'Pidgeotto': 'Normal',
 'Pidgey': 'Normal',
 'Pidove': 'Normal',
 'Pignite': 'Fire',
 'Pikachu': 'Electric',
 'Piloswine': 'Ice',
 'Pineco': 'Bug',
 'Pinsir': 'Bug',
 'Piplup': 'Water',
 'Plusle': 'Electric',
 'Politoed': 'Water',
 'Poliwag': 'Water',
 'Poliwhirl': 'Water',
 'Poliwrath': 'Water',
 'Ponyta': 'Fire',
 'Poochyena': 'Dark',
 'Porygon': 'Normal',
 'Porygon-Z': 'Normal',
 'Porygon2': 'Normal',
 'Primeape': 'Fighting',
 'Prinplup': 'Water',
 'Probopass': 'Rock',
 'Psyduck': 'Water',
 'Pumpkaboo': 'Ghost',
 'Pupitar': 'Rock',
 'Purrloin': 'Dark',
 'Purugly': 'Normal',
 'Pyroar': 'Fire',
 'Quagsire': 'Water',
 'Quilava': 'Fire',
 'Quilladin': 'Grass',
 'Qwilfish': 'Water',
 'Raichu': 'Electric',
 'Raikou': 'Electric',
 'Ralts': 'Psychic',
 'Rampardos': 'Rock',
 'Rapidash': 'Fire',
 'Raticate': 'Normal',
 'Rattata': 'Normal',
 'Rayquaza': 'Dragon',
 'Regice': 'Ice',
 'Regigigas': 'Normal',
 'Regirock': 'Rock',
 'Registeel': 'Steel',
 'Relicanth': 'Water',
 'Remoraid': 'Water',
 'Reshiram': 'Dragon',
 'Reuniclus': 'Psychic',
 'Rhydon': 'Ground',
 'Rhyhorn': 'Ground',
 'Rhyperior': 'Ground',
 'Riolu': 'Fighting',
 'Roggenrola': 'Rock',
 'Roselia': 'Grass',
 'Roserade': 'Grass',
 'Rotom': 'Electric',
 'Rufflet': 'Normal',
 'Sableye': 'Dark',
 'Salamence': 'Dragon',
 'Samurott': 'Water',
 'Sandile': 'Ground',
 'Sandshrew': 'Ground',
 'Sandslash': 'Ground',
 'Sawk': 'Fighting',
 'Sawsbuck': 'Normal',
 'Scatterbug': 'Bug',
 'Sceptile': 'Grass',
 'Scizor': 'Bug',
 'Scolipede': 'Bug',
 'Scrafty': 'Dark',
 'Scraggy': 'Dark',
 'Scyther': 'Bug',
 'Seadra': 'Water',
 'Seaking': 'Water',
 'Sealeo': 'Ice',
 'Seedot': 'Grass',
 'Seel': 'Water',
 'Seismitoad': 'Water',
 'Sentret': 'Normal',
 'Serperior': 'Grass',
 'Servine': 'Grass',
 'Seviper': 'Poison',
 'Sewaddle': 'Bug',
 'Sharpedo': 'Water',
 'Shaymin': 'Grass',
 'Shedinja': 'Bug',
 'Shelgon': 'Dragon',
 'Shellder': 'Water',
 'Shellos': 'Water',
 'Shelmet': 'Bug',
 'Shieldon': 'Rock',
 'Shiftry': 'Grass',
 'Shinx': 'Electric',
 'Shroomish': 'Grass',
 'Shuckle': 'Bug',
 'Shuppet': 'Ghost',
 'Sigilyph': 'Psychic',
 'Silcoon': 'Bug',
 'Simipour': 'Water',
 'Simisage': 'Grass',
 'Simisear': 'Fire',
 'Skarmory': 'Steel',
 'Skiddo': 'Grass',
 'Skiploom': 'Grass',
 'Skitty': 'Normal',
 'Skorupi': 'Poison',
 'Skrelp': 'Poison',
 'Skuntank': 'Poison',
 'Slaking': 'Normal',
 'Slakoth': 'Normal',
 'Sliggoo': 'Dragon',
 'Slowbro': 'Water',
 'Slowking': 'Water',
 'Slowpoke': 'Water',
 'Slugma': 'Fire',
 'Slurpuff': 'Fairy',
 'Smeargle': 'Normal',
 'Smoochum': 'Ice',
 'Sneasel': 'Dark',
 'Snivy': 'Grass',
 'Snorlax': 'Normal',
 'Snorunt': 'Ice',
 'Snover': 'Grass',
 'Snubbull': 'Fairy',
 'Solosis': 'Psychic',
 'Solrock': 'Rock',
 'Spearow': 'Normal',
 'Spewpa': 'Bug',
 'Spheal': 'Ice',
 'Spinarak': 'Bug',
 'Spinda': 'Normal',
 'Spiritomb': 'Ghost',
 'Spoink': 'Psychic',
 'Spritzee': 'Fairy',
 'Squirtle': 'Water',
 'Stantler': 'Normal',
 'Staraptor': 'Normal',
 'Staravia': 'Normal',
 'Starly': 'Normal',
 'Starmie': 'Water',
 'Staryu': 'Water',
 'Steelix': 'Steel',
 'Stoutland': 'Normal',
 'Stunfisk': 'Ground',
 'Stunky': 'Poison',
 'Sudowoodo': 'Rock',
 'Suicune': 'Water',
 'Sunflora': 'Grass',
 'Sunkern': 'Grass',
 'Surskit': 'Bug',
 'Swablu': 'Normal',
 'Swadloon': 'Bug',
 'Swalot': 'Poison',
 'Swampert': 'Water',
 'Swanna': 'Water',
 'Swellow': 'Normal',
 'Swinub': 'Ice',
 'Swirlix': 'Fairy',
 'Swoobat': 'Psychic',
 'Sylveon': 'Fairy',
 'Taillow': 'Normal',
 'Talonflame': 'Fire',
 'Tangela': 'Grass',
 'Tangrowth': 'Grass',
 'Tauros': 'Normal',
 'Teddiursa': 'Normal',
 'Tentacool': 'Water',
 'Tentacruel': 'Water',
 'Tepig': 'Fire',
 'Terrakion': 'Rock',
 'Throh': 'Fighting',
 'Thundurus': 'Electric',
 'Timburr': 'Fighting',
 'Tirtouga': 'Water',
 'Togekiss': 'Fairy',
 'Togepi': 'Fairy',
 'Togetic': 'Fairy',
 'Torchic': 'Fire',
 'Torkoal': 'Fire',
 'Tornadus': 'Flying',
 'Torterra': 'Grass',
 'Totodile': 'Water',
 'Toxicroak': 'Poison',
 'Tranquill': 'Normal',
 'Trapinch': 'Ground',
 'Treecko': 'Grass',
 'Trevenant': 'Ghost',
 'Tropius': 'Grass',
 'Trubbish': 'Poison',
 'Turtwig': 'Grass',
 'Tympole': 'Water',
 'Tynamo': 'Electric',
 'Typhlosion': 'Fire',
 'Tyranitar': 'Rock',
 'Tyrantrum': 'Rock',
 'Tyrogue': 'Fighting',
 'Tyrunt': 'Rock',
 'Umbreon': 'Dark',
 'Unfezant': 'Normal',
 'Unown': 'Psychic',
 'Ursaring': 'Normal',
 'Uxie': 'Psychic',
 'Vanillish': 'Ice',
 'Vanillite': 'Ice',
 'Vanilluxe': 'Ice',
 'Vaporeon': 'Water',
 'Venipede': 'Bug',
 'Venomoth': 'Bug',
 'Venonat': 'Bug',
 'Venusaur': 'Grass',
 'Vespiquen': 'Bug',
 'Vibrava': 'Ground',
 'Victini': 'Psychic',
 'Victreebel': 'Grass',
 'Vigoroth': 'Normal',
 'Vileplume': 'Grass',
 'Virizion': 'Grass',
 'Vivillon': 'Bug',
 'Volbeat': 'Bug',
 'Volcanion': 'Fire',
 'Volcarona': 'Bug',
 'Voltorb': 'Electric',
 'Vullaby': 'Dark',
 'Vulpix': 'Fire',
 'Wailmer': 'Water',
 'Wailord': 'Water',
 'Walrein': 'Ice',
 'Wartortle': 'Water',
 'Watchog': 'Normal',
 'Weavile': 'Dark',
 'Weedle': 'Bug',
 'Weepinbell': 'Grass',
 'Weezing': 'Poison',
 'Whimsicott': 'Grass',
 'Whirlipede': 'Bug',
 'Whiscash': 'Water',
 'Whismur': 'Normal',
 'Wigglytuff': 'Normal',
 'Wingull': 'Water',
 'Wobbuffet': 'Psychic',
 'Woobat': 'Psychic',
 'Wooper': 'Water',
 'Wormadam': 'Bug',
 'Wurmple': 'Bug',
 'Wynaut': 'Psychic',
 'Xatu': 'Psychic',
 'Xerneas': 'Fairy',
 'Yamask': 'Ghost',
 'Yanma': 'Bug',
 'Yanmega': 'Bug',
 'Yveltal': 'Dark',
 'Zangoose': 'Normal',
 'Zapdos': 'Electric',
 'Zebstrika': 'Electric',
 'Zekrom': 'Dragon',
 'Zigzagoon': 'Normal',
 'Zoroark': 'Dark',
 'Zorua': 'Dark',
 'Zubat': 'Poison',
 'Zweilous': 'Dark',
 'Zygarde': 'Dragon'}

In [ ]:
pokeman_names.map(pokeman_types).head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object

## DataFrame

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
# nba.head()
nba.sample(5)

                  Name                    Team  ...    College      Salary
314        Kyle Korver           Atlanta Hawks  ...  Creighton   5746479.0
115      Julius Randle      Los Angeles Lakers  ...   Kentucky   3132240.0
294  LaMarcus Aldridge       San Antonio Spurs  ...      Texas  19689000.0
330       Al Jefferson       Charlotte Hornets  ...        NaN  13500000.0
398    Nemanja Bjelica  Minnesota Timberwolves  ...        NaN   3950001.0

[5 rows x 9 columns]

### Shared Methods and Attributes

In [ ]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [ ]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [ ]:
nba.shape

(458, 9)

In [ ]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [ ]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [ ]:
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [ ]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [ ]:
nba.dtypes.value_counts()

object     5
float64    4
dtype: int64

In [ ]:
nba.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

### Differences between Shared Methods

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.shape

(458, 9)

In [ ]:
nba = pd.read_csv(root + 'nba.csv',  skiprows=50)
nba.shape

(408, 9)

In [ ]:
nba.head()

        Joel Embiid  Philadelphia 76ers  21.0  ...  250.0          Kansas  4626960.0
0      Jerami Grant  Philadelphia 76ers  39.0  ...  210.0        Syracuse   845059.0
1    Richaun Holmes  Philadelphia 76ers  22.0  ...  245.0   Bowling Green  1074169.0
2       Carl Landry  Philadelphia 76ers   7.0  ...  248.0          Purdue  6500000.0
3  Kendall Marshall  Philadelphia 76ers   5.0  ...  200.0  North Carolina  2144772.0
4    T.J. McConnell  Philadelphia 76ers  12.0  ...  200.0         Arizona   525093.0

[5 rows x 9 columns]

In [ ]:
# for num in range(1,50,2):
#     print(num)

In [ ]:
nba = pd.read_csv(root + 'nba.csv' ,skiprows=range(1,50))
nba.head()

               Name                Team  ...         College     Salary
0       Joel Embiid  Philadelphia 76ers  ...          Kansas  4626960.0
1      Jerami Grant  Philadelphia 76ers  ...        Syracuse   845059.0
2    Richaun Holmes  Philadelphia 76ers  ...   Bowling Green  1074169.0
3       Carl Landry  Philadelphia 76ers  ...          Purdue  6500000.0
4  Kendall Marshall  Philadelphia 76ers  ...  North Carolina  2144772.0

[5 rows x 9 columns]

In [ ]:
#enumerate

for i,chunk in enumerate(['chunk1','chunk2','chunk3']):
    print(i)
    print(chunk)

0
chunk1
1
chunk2
2
chunk3

In [ ]:
# dataset 1000 
# [chunk1:100 , chunk2 : 100 , ... ,chunk10:100]
chunksize = 100
for chunk in pd.read_csv(root + 'nba.csv',chunksize=chunksize):
    display(chunk)

                        Name  ...      Salary
0              Avery Bradley  ...   7730337.0
1                Jae Crowder  ...   6796117.0
2               John Holland  ...         NaN
3                R.J. Hunter  ...   1148640.0
4              Jonas Jerebko  ...   5000000.0
..                       ...  ...         ...
95                Jeff Green  ...   9650000.0
96             Blake Griffin  ...  18907726.0
97            Wesley Johnson  ...   1100602.0
98            DeAndre Jordan  ...  19689000.0
99  Luc Richard Mbah a Moute  ...    947276.0

[100 rows x 9 columns]

                 Name                  Team  ...       College      Salary
100        Chris Paul  Los Angeles Clippers  ...   Wake Forest  21468695.0
101       Paul Pierce  Los Angeles Clippers  ...        Kansas   3376000.0
102    Pablo Prigioni  Los Angeles Clippers  ...           NaN    947726.0
103         JJ Redick  Los Angeles Clippers  ...          Duke   7085000.0
104     Austin Rivers  Los Angeles Clippers  ...          Duke   3110796.0
..                ...                   ...  ...           ...         ...
195  Anthony Tolliver       Detroit Pistons  ...     Creighton   3000000.0
196       Lavoy Allen        Indiana Pacers  ...        Temple   4050000.0
197  Rakeem Christmas        Indiana Pacers  ...      Syracuse   1007026.0
198       Monta Ellis        Indiana Pacers  ...           NaN  10300000.0
199       Paul George        Indiana Pacers  ...  Fresno State  17120106.0

[100 rows x 9 columns]

              Name               Team  ...         College     Salary
200    George Hill     Indiana Pacers  ...           IUPUI  8000000.0
201    Jordan Hill     Indiana Pacers  ...         Arizona  4000000.0
202   Solomon Hill     Indiana Pacers  ...         Arizona  1358880.0
203      Ty Lawson     Indiana Pacers  ...  North Carolina   211744.0
204    Ian Mahinmi     Indiana Pacers  ...             NaN  4000000.0
..             ...                ...  ...             ...        ...
295  Kyle Anderson  San Antonio Spurs  ...            UCLA  1142880.0
296    Matt Bonner  San Antonio Spurs  ...         Florida   947276.0
297     Boris Diaw  San Antonio Spurs  ...             NaN  7500000.0
298     Tim Duncan  San Antonio Spurs  ...     Wake Forest  5250000.0
299  Manu Ginobili  San Antonio Spurs  ...             NaN  2814000.0

[100 rows x 9 columns]

                 Name                    Team  ...           College      Salary
300       Danny Green       San Antonio Spurs  ...    North Carolina  10000000.0
301     Kawhi Leonard       San Antonio Spurs  ...   San Diego State  16407500.0
302  Boban Marjanovic       San Antonio Spurs  ...               NaN   1200000.0
303      Kevin Martin       San Antonio Spurs  ...  Western Carolina    200600.0
304      Andre Miller       San Antonio Spurs  ...              Utah    250750.0
..                ...                     ...  ...               ...         ...
395      Jusuf Nurkic          Denver Nuggets  ...               NaN   1842000.0
396    JaKarr Sampson          Denver Nuggets  ...        St. John's    258489.0
397      Axel Toupane          Denver Nuggets  ...               NaN         NaN
398   Nemanja Bjelica  Minnesota Timberwolves  ...               NaN   3950001.0
399      Gorgui Dieng  Minnesota Timberwolves  ...        Louisville   1474440.0

[100 rows x 9 columns]

                   Name                    Team  ...           College      Salary
400       Kevin Garnett  Minnesota Timberwolves  ...               NaN   8500000.0
401          Tyus Jones  Minnesota Timberwolves  ...              Duke   1282080.0
402         Zach LaVine  Minnesota Timberwolves  ...              UCLA   2148360.0
403    Shabazz Muhammad  Minnesota Timberwolves  ...              UCLA   2056920.0
404       Adreian Payne  Minnesota Timberwolves  ...    Michigan State   1938840.0
405      Nikola Pekovic  Minnesota Timberwolves  ...               NaN  12100000.0
406     Tayshaun Prince  Minnesota Timberwolves  ...          Kentucky    947276.0
407         Ricky Rubio  Minnesota Timberwolves  ...               NaN  12700000.0
408        Damjan Rudez  Minnesota Timberwolves  ...               NaN   1149500.0
409          Greg Smith  Minnesota Timberwolves  ...      Fresno State         NaN
410  Karl-Anthony Towns  Minnesota Timberwolves  ...          Kentucky   5703600.0
411      Andrew Wiggins  Minnesota Timberwolves  ...            Kansas   5758680.0
412        Steven Adams   Oklahoma City Thunder  ...        Pittsburgh   2279040.0
413       Nick Collison   Oklahoma City Thunder  ...            Kansas   3750000.0
414        Kevin Durant   Oklahoma City Thunder  ...             Texas  20158622.0
415          Randy Foye   Oklahoma City Thunder  ...         Villanova   3135000.0
416        Josh Huestis   Oklahoma City Thunder  ...          Stanford   1140240.0
417         Serge Ibaka   Oklahoma City Thunder  ...               NaN  12250000.0
418         Enes Kanter   Oklahoma City Thunder  ...          Kentucky  16407500.0
419        Mitch McGary   Oklahoma City Thunder  ...          Michigan   1463040.0
420       Nazr Mohammed   Oklahoma City Thunder  ...          Kentucky    222888.0
421      Anthony Morrow   Oklahoma City Thunder  ...      Georgia Tech   3344000.0
422       Cameron Payne   Oklahoma City Thunder  ...      Murray State   2021520.0
423      Andre Roberson   Oklahoma City Thunder  ...          Colorado   1210800.0
424        Kyle Singler   Oklahoma City Thunder  ...              Duke   4500000.0
425        Dion Waiters   Oklahoma City Thunder  ...          Syracuse   5138430.0
426   Russell Westbrook   Oklahoma City Thunder  ...              UCLA  16744218.0
427     Cliff Alexander  Portland Trail Blazers  ...            Kansas    525093.0
428     Al-Farouq Aminu  Portland Trail Blazers  ...       Wake Forest   8042895.0
429     Pat Connaughton  Portland Trail Blazers  ...        Notre Dame    625093.0
430        Allen Crabbe  Portland Trail Blazers  ...        California    947276.0
431            Ed Davis  Portland Trail Blazers  ...    North Carolina   6980802.0
432    Maurice Harkless  Portland Trail Blazers  ...        St. John's   2894059.0
433    Gerald Henderson  Portland Trail Blazers  ...              Duke   6000000.0
434         Chris Kaman  Portland Trail Blazers  ...  Central Michigan   5016000.0
435      Meyers Leonard  Portland Trail Blazers  ...          Illinois   3075880.0
436      Damian Lillard  Portland Trail Blazers  ...       Weber State   4236287.0
437       C.J. McCollum  Portland Trail Blazers  ...            Lehigh   2525160.0
438        Luis Montero  Portland Trail Blazers  ...    Westchester CC    525093.0
439       Mason Plumlee  Portland Trail Blazers  ...              Duke   1415520.0
440       Brian Roberts  Portland Trail Blazers  ...            Dayton   2854940.0
441         Noah Vonleh  Portland Trail Blazers  ...           Indiana   2637720.0
442       Trevor Booker               Utah Jazz  ...           Clemson   4775000.0
443          Trey Burke               Utah Jazz  ...          Michigan   2658240.0
444          Alec Burks               Utah Jazz  ...          Colorado   9463484.0
445          Dante Exum               Utah Jazz  ...               NaN   3777720.0
446      Derrick Favors               Utah Jazz  ...      Georgia Tech  12000000.0
447         Rudy Gobert               Utah Jazz  ...               NaN   1175880.0
448      Gordon Hayward               Utah Jazz  ...            Butler  15409570.0
449         Rodney Hood               Utah Jazz  ...              Duke   1348440.0
450          Joe Ingles               Utah Jazz  ...               NaN   2050000.0
451       Chris Johnson               Utah Jazz  ...            Dayton    981348.0
452          Trey Lyles               Utah Jazz  ...          Kentucky   2239800.0
453        Shelvin Mack               Utah Jazz  ...            Butler   2433333.0
454           Raul Neto               Utah Jazz  ...               NaN    900000.0
455        Tibor Pleiss               Utah Jazz  ...               NaN   2900000.0
456         Jeff Withey               Utah Jazz  ...            Kansas    947276.0
457                 NaN                     NaN  ...               NaN         NaN

[58 rows x 9 columns]

In [ ]:
chunksize = 100

for i,chunk in enumerate(pd.read_csv(root + 'nba.csv', chunksize=chunksize)):
    if i == 0:
        print(chunk)

                        Name  ...      Salary
0              Avery Bradley  ...   7730337.0
1                Jae Crowder  ...   6796117.0
2               John Holland  ...         NaN
3                R.J. Hunter  ...   1148640.0
4              Jonas Jerebko  ...   5000000.0
..                       ...  ...         ...
95                Jeff Green  ...   9650000.0
96             Blake Griffin  ...  18907726.0
97            Wesley Johnson  ...   1100602.0
98            DeAndre Jordan  ...  19689000.0
99  Luc Richard Mbah a Moute  ...    947276.0

[100 rows x 9 columns]

In [ ]:
for i,chunk in enumerate(pd.read_csv(root + 'nba.csv', chunksize=chunksize)):
    if i == 0:
        display(chunk)

                        Name  ...      Salary
0              Avery Bradley  ...   7730337.0
1                Jae Crowder  ...   6796117.0
2               John Holland  ...         NaN
3                R.J. Hunter  ...   1148640.0
4              Jonas Jerebko  ...   5000000.0
..                       ...  ...         ...
95                Jeff Green  ...   9650000.0
96             Blake Griffin  ...  18907726.0
97            Wesley Johnson  ...   1100602.0
98            DeAndre Jordan  ...  19689000.0
99  Luc Richard Mbah a Moute  ...    947276.0

[100 rows x 9 columns]

In [ ]:
data = pd.read_csv(root + 'revenue.csv')
data.head()

     Date  New York  Los Angeles  Miami
0  1/1/16       985          122    499
1  1/2/16       738          788    534
2  1/3/16        14           20    933
3  1/4/16       730          904    885
4  1/5/16       114           71    253

In [ ]:
data.dtypes

Date           object
New York        int64
Los Angeles     int64
Miami           int64
dtype: object

In [ ]:
data = pd.read_csv(root + 'revenue.csv',parse_dates=['Date'])
data.head()

        Date  New York  Los Angeles  Miami
0 2016-01-01       985          122    499
1 2016-01-02       738          788    534
2 2016-01-03        14           20    933
3 2016-01-04       730          904    885
4 2016-01-05       114           71    253

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         10 non-null     datetime64[ns]
 1   New York     10 non-null     int64
 2   Los Angeles  10 non-null     int64
 3   Miami        10 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 448.0 bytes

In [ ]:
data = pd.read_csv(root + 'revenue.csv',index_col='Date')
data.head()

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933
1/4/16       730          904    885
1/5/16       114           71    253

In [ ]:
data.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [ ]:
data.sum(axis= "index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [ ]:
data.sum(axis= 0)

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [ ]:
data.sum(axis=1)

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [ ]:
data.sum(axis="columns")

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

### Add New Column to DataFrame

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba['Team']

0      Boston Celtics
1      Boston Celtics
2      Boston Celtics
3      Boston Celtics
4      Boston Celtics
            ...
453         Utah Jazz
454         Utah Jazz
455         Utah Jazz
456         Utah Jazz
457               NaN
Name: Team, Length: 458, dtype: object

In [ ]:
nba['Sport'] = 'BasketBall'
#nba.head()
#nba.Sport
nba['Sport']

0      BasketBall
1      BasketBall
2      BasketBall
3      BasketBall
4      BasketBall
          ...
453    BasketBall
454    BasketBall
455    BasketBall
456    BasketBall
457    BasketBall
Name: Sport, Length: 458, dtype: object

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.insert(loc = 2,column = 'Sport', value = 'BasketBall')
nba.head()

            Name            Team  ...            College     Salary
0  Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1    Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2   John Holland  Boston Celtics  ...  Boston University        NaN
3    R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0

[5 rows x 10 columns]

### Broadcasting Operations

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba['Age'].head()
#nba.Age

0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
Name: Age, dtype: float64

In [ ]:
nba['Age'] + 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
       ...
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [ ]:
nba['Age'].head()

0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
Name: Age, dtype: float64

In [ ]:
 nba['Age'] = nba['Age'].add(5)
 nba['Age'] = nba['Age'].sub(5)
 nba.Age.head()

0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
Name: Age, dtype: float64

In [ ]:
nba['Age'].add(5)
nba['Age'].sub(5)
nba['Age'].head()

0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
Name: Age, dtype: float64

In [ ]:
nba['Age']+5
nba['Age']-5
nba['Age'].head()

0    25.0
1    25.0
2    27.0
3    22.0
4    29.0
Name: Age, dtype: float64

In [ ]:
nba['Weight'].mul(5)
nba['Weight'].div(5)
nba['Weight'].head()

0    180.0
1    235.0
2    205.0
3    185.0
4    231.0
Name: Weight, dtype: float64

In [ ]:
nba['Height']

0       6-2
1       6-6
2       6-5
3       6-5
4      6-10
       ...
453     6-3
454     6-1
455     7-3
456     7-0
457     NaN
Name: Height, Length: 458, dtype: object

In [ ]:
# nba['Weight']*5
# nba['Weight']/5
#nba['Weight'].head()

nba['weight-age'] = nba['Weight']/nba['Age']
nba['BMI'] = (nba['Weight'])/(nba['Age']*nba['Age'])
nba.head()

            Name            Team  Number  ...     Salary  weight-age       BMI
0  Avery Bradley  Boston Celtics     0.0  ...  7730337.0    7.200000  0.288000
1    Jae Crowder  Boston Celtics    99.0  ...  6796117.0    9.400000  0.376000
2   John Holland  Boston Celtics    30.0  ...        NaN    7.592593  0.281207
3    R.J. Hunter  Boston Celtics    28.0  ...  1148640.0    8.409091  0.382231
4  Jonas Jerebko  Boston Celtics     8.0  ...  5000000.0    7.965517  0.274673

[5 rows x 11 columns]

### Drop Rows with Null Values

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.tail()

             Name       Team  Number Position  ...  Height Weight  College     Salary
453  Shelvin Mack  Utah Jazz     8.0       PG  ...     6-3  203.0   Butler  2433333.0
454     Raul Neto  Utah Jazz    25.0       PG  ...     6-1  179.0      NaN   900000.0
455  Tibor Pleiss  Utah Jazz    21.0        C  ...     7-3  256.0      NaN  2900000.0
456   Jeff Withey  Utah Jazz    24.0        C  ...     7-0  231.0   Kansas   947276.0
457           NaN        NaN     NaN      NaN  ...     NaN    NaN      NaN        NaN

[5 rows x 9 columns]

In [ ]:
nba = nba.dropna()

In [ ]:
nba.head()

            Name            Team  Number  ... Weight        College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0          Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0      Marquette  6796117.0
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0  Georgia State  1148640.0
6  Jordan Mickey  Boston Celtics    55.0  ...  235.0            LSU  1170960.0
7   Kelly Olynyk  Boston Celtics    41.0  ...  238.0        Gonzaga  2165160.0

[5 rows x 9 columns]

In [ ]:
nba.tail()

              Name       Team  Number  ... Weight   College     Salary
449    Rodney Hood  Utah Jazz     5.0  ...  206.0      Duke  1348440.0
451  Chris Johnson  Utah Jazz    23.0  ...  206.0    Dayton   981348.0
452     Trey Lyles  Utah Jazz    41.0  ...  234.0  Kentucky  2239800.0
453   Shelvin Mack  Utah Jazz     8.0  ...  203.0    Butler  2433333.0
456    Jeff Withey  Utah Jazz    24.0  ...  231.0    Kansas   947276.0

[5 rows x 9 columns]

In [ ]:
nba.dropna(how = 'all',inplace= True)
nba.head()

            Name            Team  Number  ... Weight        College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0          Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0      Marquette  6796117.0
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0  Georgia State  1148640.0
6  Jordan Mickey  Boston Celtics    55.0  ...  235.0            LSU  1170960.0
7   Kelly Olynyk  Boston Celtics    41.0  ...  238.0        Gonzaga  2165160.0

[5 rows x 9 columns]

In [ ]:
nba.tail()

              Name       Team  Number  ... Weight   College     Salary
449    Rodney Hood  Utah Jazz     5.0  ...  206.0      Duke  1348440.0
451  Chris Johnson  Utah Jazz    23.0  ...  206.0    Dayton   981348.0
452     Trey Lyles  Utah Jazz    41.0  ...  234.0  Kentucky  2239800.0
453   Shelvin Mack  Utah Jazz     8.0  ...  203.0    Butler  2433333.0
456    Jeff Withey  Utah Jazz    24.0  ...  231.0    Kansas   947276.0

[5 rows x 9 columns]

In [ ]:
nba.head()

            Name            Team  Number  ... Weight        College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0          Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0      Marquette  6796117.0
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0  Georgia State  1148640.0
6  Jordan Mickey  Boston Celtics    55.0  ...  235.0            LSU  1170960.0
7   Kelly Olynyk  Boston Celtics    41.0  ...  238.0        Gonzaga  2165160.0

[5 rows x 9 columns]

In [ ]:
nba.dropna(axis = 'columns')

              Name            Team  Number  ... Weight        College     Salary
0    Avery Bradley  Boston Celtics     0.0  ...  180.0          Texas  7730337.0
1      Jae Crowder  Boston Celtics    99.0  ...  235.0      Marquette  6796117.0
3      R.J. Hunter  Boston Celtics    28.0  ...  185.0  Georgia State  1148640.0
6    Jordan Mickey  Boston Celtics    55.0  ...  235.0            LSU  1170960.0
7     Kelly Olynyk  Boston Celtics    41.0  ...  238.0        Gonzaga  2165160.0
..             ...             ...     ...  ...    ...            ...        ...
449    Rodney Hood       Utah Jazz     5.0  ...  206.0           Duke  1348440.0
451  Chris Johnson       Utah Jazz    23.0  ...  206.0         Dayton   981348.0
452     Trey Lyles       Utah Jazz    41.0  ...  234.0       Kentucky  2239800.0
453   Shelvin Mack       Utah Jazz     8.0  ...  203.0         Butler  2433333.0
456    Jeff Withey       Utah Jazz    24.0  ...  231.0         Kansas   947276.0

[364 rows x 9 columns]

### .value_counts() Method

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.Team.value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

In [ ]:
nba['Team'].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

In [ ]:
nba.Position.value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [ ]:
nba.Salary.value_counts().tail()

2100000.0    1
1252440.0    1
2891760.0    1
3272091.0    1
900000.0     1
Name: Salary, dtype: int64

### Fill in Null Values with .fillna() Method

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.fillna(0)

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        0.0
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                  0  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                  0   900000.0
455   Tibor Pleiss       Utah Jazz  ...                  0  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457              0               0  ...                  0        0.0

[458 rows x 9 columns]

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.Salary.fillna(0,inplace=True)
nba.tail()
nba['Salary'].fillna(0)
#nba.Salary = nba.Salary.fillna(0)

0      7730337.0
1      6796117.0
2            0.0
3      1148640.0
4      5000000.0
         ...
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
457          0.0
Name: Salary, Length: 458, dtype: float64

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba['Salary'].fillna(0,inplace=True)
nba.tail()

             Name       Team  Number Position  ...  Height Weight  College     Salary
453  Shelvin Mack  Utah Jazz     8.0       PG  ...     6-3  203.0   Butler  2433333.0
454     Raul Neto  Utah Jazz    25.0       PG  ...     6-1  179.0      NaN   900000.0
455  Tibor Pleiss  Utah Jazz    21.0        C  ...     7-3  256.0      NaN  2900000.0
456   Jeff Withey  Utah Jazz    24.0        C  ...     7-0  231.0   Kansas   947276.0
457           NaN        NaN     NaN      NaN  ...     NaN    NaN      NaN        0.0

[5 rows x 9 columns]

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba['Salary'] = nba['Salary'].fillna(0)
nba.tail()

             Name       Team  Number Position  ...  Height Weight  College     Salary
453  Shelvin Mack  Utah Jazz     8.0       PG  ...     6-3  203.0   Butler  2433333.0
454     Raul Neto  Utah Jazz    25.0       PG  ...     6-1  179.0      NaN   900000.0
455  Tibor Pleiss  Utah Jazz    21.0        C  ...     7-3  256.0      NaN  2900000.0
456   Jeff Withey  Utah Jazz    24.0        C  ...     7-0  231.0   Kansas   947276.0
457           NaN        NaN     NaN      NaN  ...     NaN    NaN      NaN        0.0

[5 rows x 9 columns]

In [ ]:
nba.College.fillna('No College',inplace=True)
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        0.0
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0         No College  5000000.0

[5 rows x 9 columns]

### The .astype() Method

In [ ]:
# set dtype optimal for occupy less space
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.Salary.fillna(0,inplace=True)

In [ ]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [ ]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    458 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
nba.Salary = nba.Salary.astype('int')
nba.Salary.head()

0    7730337
1    6796117
2          0
3    1148640
4    5000000
Name: Salary, dtype: int64

In [ ]:
nba.Salary.unique()

array([ 7730337,  6796117,        0,  1148640,  5000000, 12000000,
        1170960,  2165160,  1824360,  3431040,  2569260,  6912869,
        3425510,  1749840,  2616975,   845059,  1500000,  1335480,
        6300000,  1599840,   134215, 19689000,  1140240,   947276,
         981348, 11235955,  8000000,  1635476,    30888, 22875000,
        7402812,  1572360, 12650000,  3750000,  4131720,  2814000,
        1636842,  4000000,   167406,  1000000,  4626960,  1074169,
        6500000,  2144772,   525093,  3457800,  4582680,  2869440,
        1524000, 13600000, 10050000,  2500000,  7000000,  1842000,
        6268675,   650000,  3553917,  2900000,   245177,  4660482,
        1509360,  3873398, 13800000, 11370786,  2008748, 14260870,
       11710456,  5543725,  1131960,  1270964,  3815000, 15501000,
         289755,  1100602,   111444,  5675000,  9650000, 18907726,
       21468695,  3376000,   947726,  7085000,  3110796,  1159680,
        3000000,   700000, 25000000, 15592217,  1724250,  1155600,
        3132240,  5103120,  5219169, 13500000,  2127840,   206192,
       13000000,  1160160,  3807120,  1035000,    55722,  5500000,
        2041080,    83397,  1015421,  6060606,  1449187,  2836186,
        3398280,  5013559, 15851950, 12403101,  7700000,  3156600,
        9500000,  2250000, 16407500,  4500000,  7448760,  8500000,
        2380440, 13400000,  1391160, 20093064,  1535880,  1147276,
        8193029, 16407501, 22970500,  1276000,   111196,  4950000,
        8988765,  2100000,  2170465,  1252440,  2891760,  3272091,
       16000000,   600000, 13913044,  2841960,  6270000,  4050000,
        1007026, 10300000, 17120106,  1358880,   211744,  4394225,
        1100000,  2357760,  1953960,  2399040,  1662360,  2943221,
         855000, 14700000,   295327,  5152440,  2109294,  6600000,
        1733040,  1449000,  4290000,  3950313,  4053446,  2085671,
        8333334,  5200000, 15361500,  5378974,  8193030,   306527,
        6486486,  8229375,  1242720,  1646400,   200600, 15756438,
       22359364,  2489530,  3189794,  2288205,  1404600,  5158539,
        3542500,  4088019,  9588426,   700902, 19688000,  1201440,
        1230840,  9638555,  9000000,  5464000,  4389607,  9213483,
        3036927,  2850000,  7070730,   169883,  1164858, 10734586,
        1320000, 15514031, 10595507,  3382023,  1142880,  7500000,
        5250000, 10000000,  1200000,   250750,  3578947, 13437500,
        1499187,  2000000,  1304520,  2854940,  5746479, 18671659,
        1763400,  3333333,  9756250, 13125306,   189455,  6110034,
        2612520,  6331404,  3034356,  2139000,  4204200, 22192730,
       10151612, 14783000,   261894, 20000000,  2481720,  4171680,
        3741480,  7900000,  8344497,  1294440,  2380593,  5192520,
        2505720,  4300000, 11250000,  5694674,  4375000,   561716,
        3300000, 11217391,   273038,  1920240,  4662960,  3533333,
       10449438, 14000000,  1584480,  1300000,  1709719,  3102240,
        4345000,   258489,  3950001,  1474440,  1282080,  2148360,
        2056920,  1938840, 12100000, 12700000,  1149500,  5703600,
        5758680,  2279040, 20158622,  3135000, 12250000,  1463040,
         222888,  3344000,  2021520,  1210800,  5138430, 16744218,
        8042895,   625093,  6980802,  2894059,  6000000,  5016000,
        3075880,  4236287,  2525160,  1415520,  2637720,  4775000,
        2658240,  9463484,  3777720,  1175880, 15409570,  1348440,
        2050000,  2239800,  2433333,   900000])

In [ ]:
nba.Position.unique()

array(['PG', 'SF', 'SG', 'PF', 'C', nan], dtype=object)

In [ ]:
nba.Position.nunique()

5

In [ ]:
nba.Position = nba.Position.astype('category')
nba.Position.head()

0    PG
1    SF
2    SG
3    SG
4    PF
Name: Position, dtype: category
Categories (5, object): ['C', 'PF', 'PG', 'SF', 'SG']

In [ ]:
# set dtype optimal for occupy less space
nba = pd.read_csv(root + 'nba.csv',dtype={'Position':'category'})
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    category
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: category(1), float64(4), object(4)
memory usage: 29.4+ KB

### Sort DataFrame with the .sort_values() Method

In [ ]:
nba = pd.read_csv(root + 'nba.csv')
nba.head()

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0  ...  231.0                NaN  5000000.0

[5 rows x 9 columns]

In [ ]:
nba.sort_values('Name').head()

               Name                    Team  ...         College      Salary
152    Aaron Brooks           Chicago Bulls  ...          Oregon   2250000.0
356    Aaron Gordon           Orlando Magic  ...         Arizona   4171680.0
328  Aaron Harrison       Charlotte Hornets  ...        Kentucky    525093.0
404   Adreian Payne  Minnesota Timberwolves  ...  Michigan State   1938840.0
312      Al Horford           Atlanta Hawks  ...         Florida  12000000.0

[5 rows x 9 columns]

In [ ]:
nba.sort_values('Name', ascending= False).head()

                Name                    Team  ...         College      Salary
237    Zaza Pachulia        Dallas Mavericks  ...             NaN   5200000.0
271    Zach Randolph       Memphis Grizzlies  ...  Michigan State   9638555.0
402      Zach LaVine  Minnesota Timberwolves  ...            UCLA   2148360.0
270   Xavier Munford       Memphis Grizzlies  ...    Rhode Island         NaN
386  Wilson Chandler          Denver Nuggets  ...          DePaul  10449438.0

[5 rows x 9 columns]

In [ ]:
nba.sort_values('Salary',na_position='last').tail()

              Name                    Team  ...                College Salary
350  Briante Weber              Miami Heat  ...  Virginia Commonwealth    NaN
353  Dorell Wright              Miami Heat  ...                    NaN    NaN
397   Axel Toupane          Denver Nuggets  ...                    NaN    NaN
409     Greg Smith  Minnesota Timberwolves  ...           Fresno State    NaN
457            NaN                     NaN  ...                    NaN    NaN

[5 rows x 9 columns]

In [ ]:
nba.sort_values(['Team','Name'],ascending=False)
#nba.sort_values(['Team','Name'],ascending=[False,False],inplace=True)

                Name                Team  ...       College      Salary
379   Ramon Sessions  Washington Wizards  ...        Nevada   2170465.0
378  Otto Porter Jr.  Washington Wizards  ...    Georgetown   4662960.0
375     Nene Hilario  Washington Wizards  ...           NaN  13000000.0
376  Markieff Morris  Washington Wizards  ...        Kansas   8000000.0
381  Marcus Thornton  Washington Wizards  ...           LSU    200600.0
..               ...                 ...  ...           ...         ...
309    Kent Bazemore       Atlanta Hawks  ...  Old Dominion   2000000.0
323      Jeff Teague       Atlanta Hawks  ...   Wake Forest   8000000.0
318  Dennis Schroder       Atlanta Hawks  ...           NaN   1763400.0
312       Al Horford       Atlanta Hawks  ...       Florida  12000000.0
457              NaN                 NaN  ...           NaN         NaN

[458 rows x 9 columns]

In [ ]:
nba.sort_values(['Team','Name'],ascending=[False,True],inplace=True)
nba.head()

               Name                Team  ...               College     Salary
368   Alan Anderson  Washington Wizards  ...        Michigan State  4000000.0
369    Bradley Beal  Washington Wizards  ...               Florida  5694674.0
372     Drew Gooden  Washington Wizards  ...                Kansas  3300000.0
380  Garrett Temple  Washington Wizards  ...                   LSU  1100602.0
374      JJ Hickson  Washington Wizards  ...  North Carolina State   273038.0

[5 rows x 9 columns]

### datetime

In [ ]:
df = pd.read_csv(root + 'employees.csv')
df.head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas    Male   8/6/1993  ...   6.945               True        Marketing
1     Thomas    Male  3/31/1996  ...   4.170               True              NaN
2      Maria  Female  4/23/1993  ...  11.858              False          Finance
3      Jerry    Male   3/4/2005  ...   9.340               True          Finance
4      Larry    Male  1/24/1998  ...   1.389               True  Client Services

[5 rows x 8 columns]

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [ ]:
df['Start Date'].head()

0     8/6/1993
1    3/31/1996
2    4/23/1993
3     3/4/2005
4    1/24/1998
Name: Start Date, dtype: object

In [ ]:
pd.to_datetime(df['Start Date']).head()

0   1993-08-06
1   1996-03-31
2   1993-04-23
3   2005-03-04
4   1998-01-24
Name: Start Date, dtype: datetime64[ns]

In [ ]:
df['Start Date'] = pd.to_datetime(df['Start Date'])
df.head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas    Male 1993-08-06  ...   6.945               True        Marketing
1     Thomas    Male 1996-03-31  ...   4.170               True              NaN
2      Maria  Female 1993-04-23  ...  11.858              False          Finance
3      Jerry    Male 2005-03-04  ...   9.340               True          Finance
4      Larry    Male 1998-01-24  ...   1.389               True  Client Services

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   datetime64[ns]
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 62.6+ KB

In [ ]:
df = pd.read_csv(root + 'employees.csv' ,parse_dates=['Start Date','Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype("bool")
df.Gender = df.Gender.astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    category
 2   Start Date         1000 non-null   datetime64[ns]
 3   Last Login Time    1000 non-null   datetime64[ns]
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  1000 non-null   bool
 7   Team               957 non-null    object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 49.1+ KB

### Filter A DataFrame Based On A Condition

In [ ]:
df = pd.read_csv(root + 'employees.csv' ,parse_dates=['Start Date','Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype("bool")
df.Gender = df.Gender.astype('category')
df.head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas    Male 1993-08-06  ...   6.945               True        Marketing
1     Thomas    Male 1996-03-31  ...   4.170               True              NaN
2      Maria  Female 1993-04-23  ...  11.858              False          Finance
3      Jerry    Male 2005-03-04  ...   9.340               True          Finance
4      Larry    Male 1998-01-24  ...   1.389               True  Client Services

[5 rows x 8 columns]

In [ ]:
df['Gender']

0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: category
Categories (2, object): ['Female', 'Male']

In [ ]:
(df['Gender'] == 'Male').head()

0     True
1     True
2    False
3     True
4     True
Name: Gender, dtype: bool

In [ ]:
df[df.Gender == "Male"].head()

  First Name Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas   Male 1993-08-06  ...   6.945               True        Marketing
1     Thomas   Male 1996-03-31  ...   4.170               True              NaN
3      Jerry   Male 2005-03-04  ...   9.340               True          Finance
4      Larry   Male 1998-01-24  ...   1.389               True  Client Services
5     Dennis   Male 1987-04-18  ...  10.125              False            Legal

[5 rows x 8 columns]

In [ ]:
df[df.Team == 'Finance'].head()

   First Name  Gender Start Date  ... Bonus %  Senior Management     Team
2       Maria  Female 1993-04-23  ...  11.858              False  Finance
3       Jerry    Male 2005-03-04  ...   9.340               True  Finance
7         NaN  Female 2015-07-20  ...  11.598               True  Finance
14   Kimberly  Female 1999-01-14  ...  14.543               True  Finance
46      Bruce    Male 2009-11-28  ...   6.796              False  Finance

[5 rows x 8 columns]

In [ ]:
df[df.Team != "Marketing"].head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
1     Thomas    Male 1996-03-31  ...   4.170               True              NaN
2      Maria  Female 1993-04-23  ...  11.858              False          Finance
3      Jerry    Male 2005-03-04  ...   9.340               True          Finance
4      Larry    Male 1998-01-24  ...   1.389               True  Client Services
5     Dennis    Male 1987-04-18  ...  10.125              False            Legal

[5 rows x 8 columns]

In [ ]:
mask = (df.Team != "Marketing")
df[mask].head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
1     Thomas    Male 1996-03-31  ...   4.170               True              NaN
2      Maria  Female 1993-04-23  ...  11.858              False          Finance
3      Jerry    Male 2005-03-04  ...   9.340               True          Finance
4      Larry    Male 1998-01-24  ...   1.389               True  Client Services
5     Dennis    Male 1987-04-18  ...  10.125              False            Legal

[5 rows x 8 columns]

In [ ]:
df[df.Salary >110000].head()

   First Name  Gender  ... Senior Management                  Team
2       Maria  Female  ...             False               Finance
3       Jerry    Male  ...              True               Finance
5      Dennis    Male  ...             False                 Legal
9     Frances  Female  ...              True  Business Development
12    Brandon    Male  ...              True       Human Resources

[5 rows x 8 columns]

In [ ]:
df[df['Start Date'] <= '1985-01-01'].head()

   First Name  Gender Start Date  ... Bonus %  Senior Management             Team
10     Louise  Female 1980-08-12  ...  15.132               True              NaN
12    Brandon    Male 1980-12-01  ...  17.492               True  Human Resources
18      Diana  Female 1981-10-23  ...  19.082              False  Client Services
28      Terry    Male 1981-11-27  ...  13.464               True  Client Services
37      Linda  Female 1981-10-19  ...   9.557               True  Client Services

[5 rows x 8 columns]

### Filter with More than One Condition (AND)

In [ ]:
mask1 = (df.Gender == 'Male')
mask2 = (df.Team == 'Marketing')
mask = mask1 & mask2
df[mask].head()

   First Name Gender Start Date  ... Bonus %  Senior Management       Team
0     Douglas   Male 1993-08-06  ...   6.945               True  Marketing
21    Matthew   Male 1995-09-05  ...  13.645              False  Marketing
26      Craig   Male 2000-02-27  ...   7.757               True  Marketing
74     Thomas   Male 1995-06-04  ...  17.029              False  Marketing
77    Charles   Male 2004-09-14  ...   1.260               True  Marketing

[5 rows x 8 columns]

In [ ]:
mask1 = (df.Gender == 'Male')
mask2 = (df.Team == 'Marketing')

df[mask1 | mask2].head()

  First Name Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas   Male 1993-08-06  ...   6.945               True        Marketing
1     Thomas   Male 1996-03-31  ...   4.170               True              NaN
3      Jerry   Male 2005-03-04  ...   9.340               True          Finance
4      Larry   Male 1998-01-24  ...   1.389               True  Client Services
5     Dennis   Male 1987-04-18  ...  10.125              False            Legal

[5 rows x 8 columns]

### The .isin() Method

In [ ]:
df[df.Team.isin(['Legal','Sales','Product'])].head()

   First Name  Gender Start Date  ... Bonus %  Senior Management     Team
5      Dennis    Male 1987-04-18  ...  10.125              False    Legal
6        Ruby  Female 1987-08-17  ...  10.012               True  Product
11      Julie  Female 1997-10-26  ...  12.637               True    Legal
13       Gary    Male 2008-01-27  ...   5.831              False    Sales
15    Lillian  Female 2016-06-05  ...   1.256              False  Product

[5 rows x 8 columns]

In [ ]:
mask1 = (df.Team == 'Legal')
mask2 = (df.Team == 'Sales')
mask3 = (df.Team == 'Product')

df[mask1|mask2|mask3].head()

   First Name  Gender Start Date  ... Bonus %  Senior Management     Team
5      Dennis    Male 1987-04-18  ...  10.125              False    Legal
6        Ruby  Female 1987-08-17  ...  10.012               True  Product
11      Julie  Female 1997-10-26  ...  12.637               True    Legal
13       Gary    Male 2008-01-27  ...   5.831              False    Sales
15    Lillian  Female 2016-06-05  ...   1.256              False  Product

[5 rows x 8 columns]

### The .isnull() and .notnull() Methods

In [ ]:
mask1 = (df.Team.isnull())
df[mask1].head()

   First Name  Gender Start Date  ... Bonus %  Senior Management  Team
1      Thomas    Male 1996-03-31  ...   4.170               True   NaN
10     Louise  Female 1980-08-12  ...  15.132               True   NaN
23        NaN    Male 2012-06-14  ...   5.042               True   NaN
32        NaN    Male 1998-08-21  ...   6.417               True   NaN
91      James     NaN 2005-01-26  ...   8.309              False   NaN

[5 rows x 8 columns]

In [ ]:
mask2 = (df.Gender.notnull())
df[mask2].head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas    Male 1993-08-06  ...   6.945               True        Marketing
1     Thomas    Male 1996-03-31  ...   4.170               True              NaN
2      Maria  Female 1993-04-23  ...  11.858              False          Finance
3      Jerry    Male 2005-03-04  ...   9.340               True          Finance
4      Larry    Male 1998-01-24  ...   1.389               True  Client Services

[5 rows x 8 columns]

### The .between() Method

In [ ]:
mask1 = (df.Salary > 60000)
mask2 = (df.Salary < 70000)
mask = mask1 & mask2
df[mask]
df[df.Salary.between(60000,70000)].head()

   First Name  Gender  ... Senior Management                  Team
1      Thomas    Male  ...              True                   NaN
6        Ruby  Female  ...              True               Product
10     Louise  Female  ...              True                   NaN
20       Lois     NaN  ...              True                 Legal
41  Christine     NaN  ...              True  Business Development

[5 rows x 8 columns]

In [ ]:
df[df['Start Date'].between("1991-01-01","1992-01-01")].head()

    First Name  Gender Start Date  ... Bonus %  Senior Management             Team
27       Scott     NaN 1991-07-11  ...   5.218              False            Legal
75      Bonnie  Female 1991-07-02  ...   5.118               True  Human Resources
88       Donna  Female 1991-11-27  ...   6.155               True            Legal
116        NaN    Male 1991-06-22  ...  18.988               True            Legal
148    Patrick     NaN 1991-07-14  ...  14.837               True            Sales

[5 rows x 8 columns]

In [ ]:
df[df['Last Login Time'].between("08:30AM","12:00PM")].head()

   First Name  Gender  ... Senior Management                  Team
2       Maria  Female  ...             False               Finance
7         NaN  Female  ...              True               Finance
10     Louise  Female  ...              True                   NaN
18      Diana  Female  ...             False       Client Services
33       Jean  Female  ...             False  Business Development

[5 rows x 8 columns]

### The .drop_duplicates() Method

In [ ]:
df = pd.read_csv(root + 'employees.csv',
                 parse_dates=['Start Date','Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category')
df.sort_values('First Name',inplace = True)
df.head()

    First Name Gender Start Date  ... Bonus %  Senior Management             Team
101      Aaron   Male 2012-02-17  ...  11.849               True        Marketing
327      Aaron   Male 1994-01-29  ...   5.097               True        Marketing
440      Aaron   Male 1990-07-22  ...  11.343               True  Client Services
937      Aaron    NaN 1986-01-22  ...  18.424              False  Client Services
137       Adam   Male 2011-05-21  ...  15.120              False     Distribution

[5 rows x 8 columns]

In [ ]:
len(df)

1000

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.shape[0]

1000

In [ ]:
df.drop_duplicates(subset = ['First Name'],keep = 'first')

    First Name  Gender Start Date  ... Bonus %  Senior Management             Team
101      Aaron    Male 2012-02-17  ...  11.849               True        Marketing
137       Adam    Male 2011-05-21  ...  15.120              False     Distribution
300       Alan    Male 1988-06-26  ...   3.592               True      Engineering
372     Albert    Male 1997-02-01  ...  19.717               True      Engineering
988      Alice  Female 2004-10-05  ...  11.209              False  Human Resources
..         ...     ...        ...  ...     ...                ...              ...
433      Wanda  Female 2008-07-20  ...   7.132               True            Legal
177      Wayne    Male 2012-04-07  ...  14.085               True     Distribution
820    William    Male 1993-11-18  ...   5.182               True  Human Resources
450     Willie    Male 2009-08-22  ...  19.691              False            Legal
7          NaN  Female 2015-07-20  ...  11.598               True          Finance

[201 rows x 8 columns]

In [ ]:
df.drop_duplicates(subset = ['First Name'],keep = 'last')

    First Name  Gender  ... Senior Management                  Team
937      Aaron     NaN  ...             False       Client Services
538       Adam    Male  ...             False       Human Resources
610       Alan    Male  ...             False               Product
959     Albert    Male  ...              True  Business Development
693      Alice  Female  ...             False                 Sales
..         ...     ...  ...               ...                   ...
512      Wanda  Female  ...             False                   NaN
637      Wayne    Male  ...             False       Human Resources
127    William    Male  ...             False       Human Resources
652     Willie    Male  ...              True           Engineering
951        NaN  Female  ...              True                   NaN

[201 rows x 8 columns]

In [ ]:
df.drop_duplicates(subset=["Team"],keep = False)

Empty DataFrame
Columns: [First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team]
Index: []

In [ ]:
df.drop_duplicates(subset=["Team","First Name"],inplace=True)
df.head()

    First Name Gender Start Date  ... Bonus %  Senior Management             Team
101      Aaron   Male 2012-02-17  ...  11.849               True        Marketing
440      Aaron   Male 1990-07-22  ...  11.343               True  Client Services
137       Adam   Male 2011-05-21  ...  15.120              False     Distribution
141       Adam   Male 1990-12-24  ...  14.727               True          Product
302       Adam   Male 2007-07-05  ...   5.027               True  Human Resources

[5 rows x 8 columns]

### The .duplicated() Method

In [ ]:
df = pd.read_csv(root + 'employees.csv',
                 parse_dates=['Start Date','Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category')
df.sort_values('First Name',inplace = True)
df.head()

    First Name Gender Start Date  ... Bonus %  Senior Management             Team
101      Aaron   Male 2012-02-17  ...  11.849               True        Marketing
327      Aaron   Male 1994-01-29  ...   5.097               True        Marketing
440      Aaron   Male 1990-07-22  ...  11.343               True  Client Services
937      Aaron    NaN 1986-01-22  ...  18.424              False  Client Services
137       Adam   Male 2011-05-21  ...  15.120              False     Distribution

[5 rows x 8 columns]

In [ ]:
df['First Name'].duplicated()

101    False
327     True
440     True
937     True
137    False
       ...
902     True
925     True
946     True
947     True
951     True
Name: First Name, Length: 1000, dtype: bool

In [ ]:
df[df['First Name'].duplicated()]

    First Name  Gender Start Date  ... Bonus %  Senior Management             Team
327      Aaron    Male 1994-01-29  ...   5.097               True        Marketing
440      Aaron    Male 1990-07-22  ...  11.343               True  Client Services
937      Aaron     NaN 1986-01-22  ...  18.424              False  Client Services
141       Adam    Male 1990-12-24  ...  14.727               True          Product
302       Adam    Male 2007-07-05  ...   5.027               True  Human Resources
..         ...     ...        ...  ...     ...                ...              ...
902        NaN    Male 2001-05-23  ...   6.322               True     Distribution
925        NaN  Female 2000-08-23  ...  19.388               True            Sales
946        NaN  Female 1985-09-15  ...  16.941               True     Distribution
947        NaN    Male 2012-07-30  ...   5.329               True        Marketing
951        NaN  Female 2010-09-14  ...   9.662               True              NaN

[799 rows x 8 columns]

In [ ]:
df[df['First Name'].duplicated(keep = 'last')]

    First Name  Gender Start Date  ... Bonus %  Senior Management             Team
101      Aaron    Male 2012-02-17  ...  11.849               True        Marketing
327      Aaron    Male 1994-01-29  ...   5.097               True        Marketing
440      Aaron    Male 1990-07-22  ...  11.343               True  Client Services
137       Adam    Male 2011-05-21  ...  15.120              False     Distribution
141       Adam    Male 1990-12-24  ...  14.727               True          Product
..         ...     ...        ...  ...     ...                ...              ...
890        NaN    Male 2015-11-24  ...   7.100               True          Finance
902        NaN    Male 2001-05-23  ...   6.322               True     Distribution
925        NaN  Female 2000-08-23  ...  19.388               True            Sales
946        NaN  Female 1985-09-15  ...  16.941               True     Distribution
947        NaN    Male 2012-07-30  ...   5.329               True        Marketing

[799 rows x 8 columns]

### The .unique() and .nunique() Method

In [ ]:
df = pd.read_csv(root + 'employees.csv',
                 parse_dates=['Start Date','Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category')
df.sort_values('First Name',inplace = True)
df.head()

    First Name Gender Start Date  ... Bonus %  Senior Management             Team
101      Aaron   Male 2012-02-17  ...  11.849               True        Marketing
327      Aaron   Male 1994-01-29  ...   5.097               True        Marketing
440      Aaron   Male 1990-07-22  ...  11.343               True  Client Services
937      Aaron    NaN 1986-01-22  ...  18.424              False  Client Services
137       Adam   Male 2011-05-21  ...  15.120              False     Distribution

[5 rows x 8 columns]

In [ ]:
df['Gender'].unique()

['Male', NaN, 'Female']
Categories (2, object): ['Female', 'Male']

In [ ]:
df['Team'].unique()

array(['Marketing', 'Client Services', 'Distribution', 'Product',
       'Human Resources', 'Engineering', 'Finance',
       'Business Development', 'Sales', nan, 'Legal'], dtype=object)

In [ ]:
df['Team'].nunique()

10

In [ ]:
df['Team'].nunique(dropna = False)

11

In [ ]:
len(df['Team'].unique())

11

### The .set_index() and .reset_index() Methods

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv',index_col='Film')
bond.head()

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Thunderball            1965  Sean Connery  ...   41.9                4.7
Casino Royale          1967   David Niven  ...   85.0                NaN

[5 rows x 6 columns]

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv')
bond.head()

                    Film  Year  ... Budget Bond Actor Salary
0                 Dr. No  1962  ...    7.0               0.6
1  From Russia with Love  1963  ...   12.6               1.6
2             Goldfinger  1964  ...   18.6               3.2
3            Thunderball  1965  ...   41.9               4.7
4          Casino Royale  1967  ...   85.0               NaN

[5 rows x 7 columns]

In [ ]:
bond.set_index('Film').head()

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Thunderball            1965  Sean Connery  ...   41.9                4.7
Casino Royale          1967   David Niven  ...   85.0                NaN

[5 rows x 6 columns]

In [ ]:
bond.set_index('Film',inplace=True)
bond.head()

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Thunderball            1965  Sean Connery  ...   41.9                4.7
Casino Royale          1967   David Niven  ...   85.0                NaN

[5 rows x 6 columns]

In [ ]:
bond.reset_index(inplace=False)

                               Film  Year  ... Budget Bond Actor Salary
0                            Dr. No  1962  ...    7.0               0.6
1             From Russia with Love  1963  ...   12.6               1.6
2                        Goldfinger  1964  ...   18.6               3.2
3                       Thunderball  1965  ...   41.9               4.7
4                     Casino Royale  1967  ...   85.0               NaN
5               You Only Live Twice  1967  ...   59.9               4.4
6   On Her Majesty's Secret Service  1969  ...   37.3               0.6
7              Diamonds Are Forever  1971  ...   34.7               5.8
8                  Live and Let Die  1973  ...   30.8               NaN
9       The Man with the Golden Gun  1974  ...   27.7               NaN
10             The Spy Who Loved Me  1977  ...   45.1               NaN
11                        Moonraker  1979  ...   91.5               NaN
12               For Your Eyes Only  1981  ...   60.2               NaN
13            Never Say Never Again  1983  ...   86.0               NaN
14                        Octopussy  1983  ...   53.9               7.8
15                 A View to a Kill  1985  ...   54.5               9.1
16             The Living Daylights  1987  ...   68.8               5.2
17                  Licence to Kill  1989  ...   56.7               7.9
18                        GoldenEye  1995  ...   76.9               5.1
19              Tomorrow Never Dies  1997  ...  133.9              10.0
20          The World Is Not Enough  1999  ...  158.3              13.5
21                  Die Another Day  2002  ...  154.2              17.9
22                    Casino Royale  2006  ...  145.3               3.3
23                Quantum of Solace  2008  ...  181.4               8.1
24                          Skyfall  2012  ...  170.2              14.5
25                          Spectre  2015  ...  206.3               NaN

[26 rows x 7 columns]

In [ ]:
bond.reset_index(inplace=True , drop=True)
bond.head()

   Year         Actor       Director  Box Office  Budget  Bond Actor Salary
0  1962  Sean Connery  Terence Young       448.8     7.0                0.6
1  1963  Sean Connery  Terence Young       543.8    12.6                1.6
2  1964  Sean Connery   Guy Hamilton       820.4    18.6                3.2
3  1965  Sean Connery  Terence Young       848.1    41.9                4.7
4  1967   David Niven     Ken Hughes       315.0    85.0                NaN

### Retrieve Rows by Index Label with .loc[ ]

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv',index_col='Film')
bond.sort_index(inplace = True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
bond.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [ ]:
bond.loc['Goldfinger']['Director']

'Guy Hamilton'

In [ ]:
bond.loc['GoldenEye']['Year']

1995

In [ ]:
bond.iloc[0]['Year']

1985

In [ ]:
bond.iloc[0]

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object

In [ ]:
bond.iloc[0]['Year']

1985

In [ ]:
bond.loc['Diamonds Are Forever':'Moonraker','Year']

Film
Diamonds Are Forever     1971
Die Another Day          2002
Dr. No                   1962
For Your Eyes Only       1981
From Russia with Love    1963
GoldenEye                1995
Goldfinger               1964
Licence to Kill          1989
Live and Let Die         1973
Moonraker                1979
Name: Year, dtype: int64

In [ ]:
bond.loc['Diamonds Are Forever':'Moonraker']

                       Year           Actor  ... Budget  Bond Actor Salary
Film                                         ...
Diamonds Are Forever   1971    Sean Connery  ...   34.7                5.8
Die Another Day        2002  Pierce Brosnan  ...  154.2               17.9
Dr. No                 1962    Sean Connery  ...    7.0                0.6
For Your Eyes Only     1981     Roger Moore  ...   60.2                NaN
From Russia with Love  1963    Sean Connery  ...   12.6                1.6
GoldenEye              1995  Pierce Brosnan  ...   76.9                5.1
Goldfinger             1964    Sean Connery  ...   18.6                3.2
Licence to Kill        1989  Timothy Dalton  ...   56.7                7.9
Live and Let Die       1973     Roger Moore  ...   30.8                NaN
Moonraker              1979     Roger Moore  ...   91.5                NaN

[10 rows x 6 columns]

In [ ]:
bond.loc['Skyfall':]

                             Year           Actor  ... Budget  Bond Actor Salary
Film                                               ...
Skyfall                      2012    Daniel Craig  ...  170.2               14.5
Spectre                      2015    Daniel Craig  ...  206.3                NaN
The Living Daylights         1987  Timothy Dalton  ...   68.8                5.2
The Man with the Golden Gun  1974     Roger Moore  ...   27.7                NaN
The Spy Who Loved Me         1977     Roger Moore  ...   45.1                NaN
The World Is Not Enough      1999  Pierce Brosnan  ...  158.3               13.5
Thunderball                  1965    Sean Connery  ...   41.9                4.7
Tomorrow Never Dies          1997  Pierce Brosnan  ...  133.9               10.0
You Only Live Twice          1967    Sean Connery  ...   59.9                4.4

[9 rows x 6 columns]

In [ ]:
'Speacial' in bond.index

False

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv')
bond.sort_index(inplace = True)
bond.head()

                    Film  Year  ... Budget Bond Actor Salary
0                 Dr. No  1962  ...    7.0               0.6
1  From Russia with Love  1963  ...   12.6               1.6
2             Goldfinger  1964  ...   18.6               3.2
3            Thunderball  1965  ...   41.9               4.7
4          Casino Royale  1967  ...   85.0               NaN

[5 rows x 7 columns]

In [ ]:
bond.loc[0]

Film                        Dr. No
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: 0, dtype: object

In [ ]:
bond.iloc[14,[1,4,5]]

Year           1983
Box Office    373.8
Budget         53.9
Name: 14, dtype: object

In [ ]:
bond.iloc[14]['Year']

1983

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv',index_col='Film')
bond.sort_index(inplace = True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
bond.loc['Dr. No','Actor']

'Sean Connery'

In [ ]:
bond.loc['Dr. No','Actor'] = 'Sir Sean Connery'
bond.loc['Dr. No','Actor']

'Sir Sean Connery'

In [ ]:
bond.loc['Dr. No',['Box Office','Budget']]

Box Office    448.8
Budget          7.0
Name: Dr. No, dtype: object

In [ ]:
bond.loc['Dr. No',['Box Office','Budget']] = [500,10]
bond.loc['Dr. No',['Box Office','Budget']]

Box Office    500.0
Budget         10.0
Name: Dr. No, dtype: object

###  Set Multiple Values in DataFrame

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv' , index_col = 'Film')
bond.sort_index(inplace = True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
mask = (bond['Actor'] == 'Sean Connery')
mask

Film
A View to a Kill                   False
Casino Royale                      False
Casino Royale                      False
Diamonds Are Forever                True
Die Another Day                    False
Dr. No                              True
For Your Eyes Only                 False
From Russia with Love               True
GoldenEye                          False
Goldfinger                          True
Licence to Kill                    False
Live and Let Die                   False
Moonraker                          False
Never Say Never Again               True
Octopussy                          False
On Her Majesty's Secret Service    False
Quantum of Solace                  False
Skyfall                            False
Spectre                            False
The Living Daylights               False
The Man with the Golden Gun        False
The Spy Who Loved Me               False
The World Is Not Enough            False
Thunderball                         True
Tomorrow Never Dies                False
You Only Live Twice                 True
Name: Actor, dtype: bool

In [ ]:
mask = (bond['Actor'] == 'Sean Connery')
bond[mask]

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Diamonds Are Forever   1971  Sean Connery  ...   34.7                5.8
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Never Say Never Again  1983  Sean Connery  ...   86.0                NaN
Thunderball            1965  Sean Connery  ...   41.9                4.7
You Only Live Twice    1967  Sean Connery  ...   59.9                4.4

[7 rows x 6 columns]

In [ ]:
bond[mask]['Actor'] = 'Sir Sean Connery'
bond[mask]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Diamonds Are Forever   1971  Sean Connery  ...   34.7                5.8
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Never Say Never Again  1983  Sean Connery  ...   86.0                NaN
Thunderball            1965  Sean Connery  ...   41.9                4.7
You Only Live Twice    1967  Sean Connery  ...   59.9                4.4

[7 rows x 6 columns]

In [ ]:
bond.loc[mask]

                       Year         Actor  ... Budget  Bond Actor Salary
Film                                       ...
Diamonds Are Forever   1971  Sean Connery  ...   34.7                5.8
Dr. No                 1962  Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sean Connery  ...   18.6                3.2
Never Say Never Again  1983  Sean Connery  ...   86.0                NaN
Thunderball            1965  Sean Connery  ...   41.9                4.7
You Only Live Twice    1967  Sean Connery  ...   59.9                4.4

[7 rows x 6 columns]

In [ ]:
bond.loc[mask,'Actor'] = 'Sir Sean Connery'
bond.loc[mask]

                       Year             Actor  ... Budget  Bond Actor Salary
Film                                           ...
Diamonds Are Forever   1971  Sir Sean Connery  ...   34.7                5.8
Dr. No                 1962  Sir Sean Connery  ...    7.0                0.6
From Russia with Love  1963  Sir Sean Connery  ...   12.6                1.6
Goldfinger             1964  Sir Sean Connery  ...   18.6                3.2
Never Say Never Again  1983  Sir Sean Connery  ...   86.0                NaN
Thunderball            1965  Sir Sean Connery  ...   41.9                4.7
You Only Live Twice    1967  Sir Sean Connery  ...   59.9                4.4

[7 rows x 6 columns]

In [ ]:
bond.head(15)

                       Year             Actor  ... Budget  Bond Actor Salary
Film                                           ...
A View to a Kill       1985       Roger Moore  ...   54.5                9.1
Casino Royale          2006      Daniel Craig  ...  145.3                3.3
Casino Royale          1967       David Niven  ...   85.0                NaN
Diamonds Are Forever   1971  Sir Sean Connery  ...   34.7                5.8
Die Another Day        2002    Pierce Brosnan  ...  154.2               17.9
Dr. No                 1962  Sir Sean Connery  ...    7.0                0.6
For Your Eyes Only     1981       Roger Moore  ...   60.2                NaN
From Russia with Love  1963  Sir Sean Connery  ...   12.6                1.6
GoldenEye              1995    Pierce Brosnan  ...   76.9                5.1
Goldfinger             1964  Sir Sean Connery  ...   18.6                3.2
Licence to Kill        1989    Timothy Dalton  ...   56.7                7.9
Live and Let Die       1973       Roger Moore  ...   30.8                NaN
Moonraker              1979       Roger Moore  ...   91.5                NaN
Never Say Never Again  1983  Sir Sean Connery  ...   86.0                NaN
Octopussy              1983       Roger Moore  ...   53.9                7.8

[15 rows x 6 columns]

### Rename Index Labels or Columns in DataFrame

In [ ]:
bond = pd.read_csv(root+'jamesbond.csv' , index_col = 'Film')
bond.sort_index(inplace = True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
bond.rename(columns={'Year':'Release Date','Box Office':'Revenue'},inplace = True)
bond.head()

                      Release Date           Actor  ... Budget  Bond Actor Salary
Film                                                ...
A View to a Kill              1985     Roger Moore  ...   54.5                9.1
Casino Royale                 2006    Daniel Craig  ...  145.3                3.3
Casino Royale                 1967     David Niven  ...   85.0                NaN
Diamonds Are Forever          1971    Sean Connery  ...   34.7                5.8
Die Another Day               2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
bond.rename(index = {'Dr. No':'Doctor No',
                     'GoldenEye':'Golden Eye'
                    },inplace = True)

bond.head(20)

                                 Release Date  ... Bond Actor Salary
Film                                           ...
A View to a Kill                         1985  ...               9.1
Casino Royale                            2006  ...               3.3
Casino Royale                            1967  ...               NaN
Diamonds Are Forever                     1971  ...               5.8
Die Another Day                          2002  ...              17.9
Doctor No                                1962  ...               0.6
For Your Eyes Only                       1981  ...               NaN
From Russia with Love                    1963  ...               1.6
Golden Eye                               1995  ...               5.1
Goldfinger                               1964  ...               3.2
Licence to Kill                          1989  ...               7.9
Live and Let Die                         1973  ...               NaN
Moonraker                                1979  ...               NaN
Never Say Never Again                    1983  ...               NaN
Octopussy                                1983  ...               7.8
On Her Majesty's Secret Service          1969  ...               0.6
Quantum of Solace                        2008  ...               8.1
Skyfall                                  2012  ...              14.5
Spectre                                  2015  ...               NaN
The Living Daylights                     1987  ...               5.2

[20 rows x 6 columns]

In [ ]:
bond.loc['Doctor No']

Release Date                  1962
Actor                 Sean Connery
Director             Terence Young
Revenue                      448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: Doctor No, dtype: object

In [ ]:
bond.columns

Index(['Release Date', 'Actor', 'Director', 'Revenue', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [ ]:
bond.columns = ["Year of Release",'Actor','Director','Gross','Cost','Salary']
bond.head()

                      Year of Release           Actor  ...   Cost  Salary
Film                                                   ...
A View to a Kill                 1985     Roger Moore  ...   54.5     9.1
Casino Royale                    2006    Daniel Craig  ...  145.3     3.3
Casino Royale                    1967     David Niven  ...   85.0     NaN
Diamonds Are Forever             1971    Sean Connery  ...   34.7     5.8
Die Another Day                  2002  Pierce Brosnan  ...  154.2    17.9

[5 rows x 6 columns]

### Delete Rows or Columns from a DataFrame

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv' , index_col = 'Film')
bond.sort_index(inplace = True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
bond.drop('A View to a Kill').head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9
Dr. No                1962    Sean Connery  ...    7.0                0.6

[5 rows x 6 columns]

In [ ]:
bond.drop(['A View to a Kill','Skyfall']).head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9
Dr. No                1962    Sean Connery  ...    7.0                0.6

[5 rows x 6 columns]

In [ ]:
bond.drop('Year',axis = 1).head()

                               Actor  ... Bond Actor Salary
Film                                  ...
A View to a Kill         Roger Moore  ...               9.1
Casino Royale           Daniel Craig  ...               3.3
Casino Royale            David Niven  ...               NaN
Diamonds Are Forever    Sean Connery  ...               5.8
Die Another Day       Pierce Brosnan  ...              17.9

[5 rows x 5 columns]

In [ ]:
bond.drop('Year',axis = 'columns').head()

                               Actor  ... Bond Actor Salary
Film                                  ...
A View to a Kill         Roger Moore  ...               9.1
Casino Royale           Daniel Craig  ...               3.3
Casino Royale            David Niven  ...               NaN
Diamonds Are Forever    Sean Connery  ...               5.8
Die Another Day       Pierce Brosnan  ...              17.9

[5 rows x 5 columns]

In [ ]:
bond.drop(labels = ['Year','Actor'],axis = 'columns').head()

                             Director  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill            John Glen       275.2    54.5                9.1
Casino Royale         Martin Campbell       581.5   145.3                3.3
Casino Royale              Ken Hughes       315.0    85.0                NaN
Diamonds Are Forever     Guy Hamilton       442.5    34.7                5.8
Die Another Day          Lee Tamahori       465.4   154.2               17.9

In [ ]:
bond['Actor']

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [ ]:
actor = bond.pop('Actor')
actor.head()

Film
A View to a Kill           Roger Moore
Casino Royale             Daniel Craig
Casino Royale              David Niven
Diamonds Are Forever      Sean Connery
Die Another Day         Pierce Brosnan
Name: Actor, dtype: object

In [ ]:
bond.head()

                      Year         Director  ...  Budget  Bond Actor Salary
Film                                         ...
A View to a Kill      1985        John Glen  ...    54.5                9.1
Casino Royale         2006  Martin Campbell  ...   145.3                3.3
Casino Royale         1967       Ken Hughes  ...    85.0                NaN
Diamonds Are Forever  1971     Guy Hamilton  ...    34.7                5.8
Die Another Day       2002     Lee Tamahori  ...   154.2               17.9

[5 rows x 5 columns]

In [ ]:
#del bond

In [ ]:
# del bond['Director']

In [ ]:
bond.drop(columns=['Director'])

                                 Year  Box Office  Budget  Bond Actor Salary
Film
A View to a Kill                 1985       275.2    54.5                9.1
Casino Royale                    2006       581.5   145.3                3.3
Casino Royale                    1967       315.0    85.0                NaN
Diamonds Are Forever             1971       442.5    34.7                5.8
Die Another Day                  2002       465.4   154.2               17.9
Dr. No                           1962       448.8     7.0                0.6
For Your Eyes Only               1981       449.4    60.2                NaN
From Russia with Love            1963       543.8    12.6                1.6
GoldenEye                        1995       518.5    76.9                5.1
Goldfinger                       1964       820.4    18.6                3.2
Licence to Kill                  1989       250.9    56.7                7.9
Live and Let Die                 1973       460.3    30.8                NaN
Moonraker                        1979       535.0    91.5                NaN
Never Say Never Again            1983       380.0    86.0                NaN
Octopussy                        1983       373.8    53.9                7.8
On Her Majesty's Secret Service  1969       291.5    37.3                0.6
Quantum of Solace                2008       514.2   181.4                8.1
Skyfall                          2012       943.5   170.2               14.5
Spectre                          2015       726.7   206.3                NaN
The Living Daylights             1987       313.5    68.8                5.2
The Man with the Golden Gun      1974       334.0    27.7                NaN
The Spy Who Loved Me             1977       533.0    45.1                NaN
The World Is Not Enough          1999       439.5   158.3               13.5
Thunderball                      1965       848.1    41.9                4.7
Tomorrow Never Dies              1997       463.2   133.9               10.0
You Only Live Twice              1967       514.2    59.9                4.4

In [ ]:
bond.drop(index =['Casino Royale'])

                                 Year  ... Bond Actor Salary
Film                                   ...
A View to a Kill                 1985  ...               9.1
Diamonds Are Forever             1971  ...               5.8
Die Another Day                  2002  ...              17.9
Dr. No                           1962  ...               0.6
For Your Eyes Only               1981  ...               NaN
From Russia with Love            1963  ...               1.6
GoldenEye                        1995  ...               5.1
Goldfinger                       1964  ...               3.2
Licence to Kill                  1989  ...               7.9
Live and Let Die                 1973  ...               NaN
Moonraker                        1979  ...               NaN
Never Say Never Again            1983  ...               NaN
Octopussy                        1983  ...               7.8
On Her Majesty's Secret Service  1969  ...               0.6
Quantum of Solace                2008  ...               8.1
Skyfall                          2012  ...              14.5
Spectre                          2015  ...               NaN
The Living Daylights             1987  ...               5.2
The Man with the Golden Gun      1974  ...               NaN
The Spy Who Loved Me             1977  ...               NaN
The World Is Not Enough          1999  ...              13.5
Thunderball                      1965  ...               4.7
Tomorrow Never Dies              1997  ...              10.0
You Only Live Twice              1967  ...               4.4

[24 rows x 5 columns]

In [ ]:
bond.head()

                      Year         Director  ...  Budget  Bond Actor Salary
Film                                         ...
A View to a Kill      1985        John Glen  ...    54.5                9.1
Casino Royale         2006  Martin Campbell  ...   145.3                3.3
Casino Royale         1967       Ken Hughes  ...    85.0                NaN
Diamonds Are Forever  1971     Guy Hamilton  ...    34.7                5.8
Die Another Day       2002     Lee Tamahori  ...   154.2               17.9

[5 rows x 5 columns]

### The .apply() Method with Row Values

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv' , index_col = 'Film')
bond.sort_index(inplace = True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
bond.loc['A View to a Kill']['Actor']

'Roger Moore'

In [ ]:
def good_movie(row):
    actor = row[1]
    # actor = row['Actor']
    budget = row[4]
    
    if actor == 'Pierce Brodnan':
        return "The Best"
    
    elif actor == 'Roger Moore' and budget > 40:
        return 'Enjoyable'
    
    else:
        return "No Idea"

In [ ]:
bond['good movie'] = bond.apply(good_movie , axis = 'columns')
bond.head()

                      Year           Actor  ... Bond Actor Salary  good movie
Film                                        ...
A View to a Kill      1985     Roger Moore  ...               9.1   Enjoyable
Casino Royale         2006    Daniel Craig  ...               3.3     No Idea
Casino Royale         1967     David Niven  ...               NaN     No Idea
Diamonds Are Forever  1971    Sean Connery  ...               5.8     No Idea
Die Another Day       2002  Pierce Brosnan  ...              17.9     No Idea

[5 rows x 7 columns]

In [ ]:
def good_movie(row , best_actor = 'Pierce Brodnan'):
    actor = row[1]
    # actor = row['Actor']
    budget = row[4]
    
    if actor == best_actor:
        return "The Best"
    
    elif actor == 'Roger Moore' and budget > 40:
        return 'Enjoyable'
    
    else:
        return "No Idea"

In [ ]:
bond['good movie_args'] = bond.apply(good_movie , axis = 'columns' , args =('Pierce Brodnan',))
bond.head()

                      Year           Actor  ... good movie  good movie_args
Film                                        ...
A View to a Kill      1985     Roger Moore  ...  Enjoyable        Enjoyable
Casino Royale         2006    Daniel Craig  ...    No Idea          No Idea
Casino Royale         1967     David Niven  ...    No Idea          No Idea
Diamonds Are Forever  1971    Sean Connery  ...    No Idea          No Idea
Die Another Day       2002  Pierce Brosnan  ...    No Idea          No Idea

[5 rows x 8 columns]

In [ ]:
bond['good movie_args1'] = bond.apply(good_movie , axis = 'columns' , best_actor = 'Pierce Brodnan')
bond.head()

                      Year           Actor  ... good movie_args  good movie_args1
Film                                        ...
A View to a Kill      1985     Roger Moore  ...       Enjoyable         Enjoyable
Casino Royale         2006    Daniel Craig  ...         No Idea           No Idea
Casino Royale         1967     David Niven  ...         No Idea           No Idea
Diamonds Are Forever  1971    Sean Connery  ...         No Idea           No Idea
Die Another Day       2002  Pierce Brosnan  ...         No Idea           No Idea

[5 rows x 9 columns]

In [ ]:
bond['good movie_args2'] = bond.apply(lambda row: good_movie(row ,best_actor = 'Pierce Brodnan') , axis = 'columns')
bond.head()

                      Year           Actor  ... good movie_args1  good movie_args2
Film                                        ...
A View to a Kill      1985     Roger Moore  ...        Enjoyable         Enjoyable
Casino Royale         2006    Daniel Craig  ...          No Idea           No Idea
Casino Royale         1967     David Niven  ...          No Idea           No Idea
Diamonds Are Forever  1971    Sean Connery  ...          No Idea           No Idea
Die Another Day       2002  Pierce Brosnan  ...          No Idea           No Idea

[5 rows x 10 columns]

### Filtering with the Where Method

In [ ]:
bond = pd.read_csv(root + 'jamesbond.csv' , index_col = 'Film')
bond.sort_index(inplace = True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [ ]:
mask = (bond.Actor == 'Roger Moore')
bond[mask]

                             Year        Actor  ... Budget  Bond Actor Salary
Film                                            ...
A View to a Kill             1985  Roger Moore  ...   54.5                9.1
For Your Eyes Only           1981  Roger Moore  ...   60.2                NaN
Live and Let Die             1973  Roger Moore  ...   30.8                NaN
Moonraker                    1979  Roger Moore  ...   91.5                NaN
Octopussy                    1983  Roger Moore  ...   53.9                7.8
The Man with the Golden Gun  1974  Roger Moore  ...   27.7                NaN
The Spy Who Loved Me         1977  Roger Moore  ...   45.1                NaN

[7 rows x 6 columns]

In [ ]:
bond.loc[mask]

                             Year        Actor  ... Budget  Bond Actor Salary
Film                                            ...
A View to a Kill             1985  Roger Moore  ...   54.5                9.1
For Your Eyes Only           1981  Roger Moore  ...   60.2                NaN
Live and Let Die             1973  Roger Moore  ...   30.8                NaN
Moonraker                    1979  Roger Moore  ...   91.5                NaN
Octopussy                    1983  Roger Moore  ...   53.9                7.8
The Man with the Golden Gun  1974  Roger Moore  ...   27.7                NaN
The Spy Who Loved Me         1977  Roger Moore  ...   45.1                NaN

[7 rows x 6 columns]

In [ ]:
bond.where(mask)

                                   Year        Actor  ... Budget  Bond Actor Salary
Film                                                  ...
A View to a Kill                 1985.0  Roger Moore  ...   54.5                9.1
Casino Royale                       NaN          NaN  ...    NaN                NaN
Casino Royale                       NaN          NaN  ...    NaN                NaN
Diamonds Are Forever                NaN          NaN  ...    NaN                NaN
Die Another Day                     NaN          NaN  ...    NaN                NaN
Dr. No                              NaN          NaN  ...    NaN                NaN
For Your Eyes Only               1981.0  Roger Moore  ...   60.2                NaN
From Russia with Love               NaN          NaN  ...    NaN                NaN
GoldenEye                           NaN          NaN  ...    NaN                NaN
Goldfinger                          NaN          NaN  ...    NaN                NaN
Licence to Kill                     NaN          NaN  ...    NaN                NaN
Live and Let Die                 1973.0  Roger Moore  ...   30.8                NaN
Moonraker                        1979.0  Roger Moore  ...   91.5                NaN
Never Say Never Again               NaN          NaN  ...    NaN                NaN
Octopussy                        1983.0  Roger Moore  ...   53.9                7.8
On Her Majesty's Secret Service     NaN          NaN  ...    NaN                NaN
Quantum of Solace                   NaN          NaN  ...    NaN                NaN
Skyfall                             NaN          NaN  ...    NaN                NaN
Spectre                             NaN          NaN  ...    NaN                NaN
The Living Daylights                NaN          NaN  ...    NaN                NaN
The Man with the Golden Gun      1974.0  Roger Moore  ...   27.7                NaN
The Spy Who Loved Me             1977.0  Roger Moore  ...   45.1                NaN
The World Is Not Enough             NaN          NaN  ...    NaN                NaN
Thunderball                         NaN          NaN  ...    NaN                NaN
Tomorrow Never Dies                 NaN          NaN  ...    NaN                NaN
You Only Live Twice                 NaN          NaN  ...    NaN                NaN

[26 rows x 6 columns]

### Multi Indexing

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv')
bigmac.head()

     Date    Country  Price in US Dollars
0  1/2016  Argentina                 2.39
1  1/2016  Australia                 3.74
2  1/2016     Brazil                 3.35
3  1/2016    Britain                 4.22
4  1/2016     Canada                 4.14

In [ ]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    object
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: float64(1), object(2)
memory usage: 15.4+ KB

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'])
bigmac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [ ]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [ ]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [ ]:
bigmac.set_index('Date')

                  Country  Price in US Dollars
Date
2016-01-01      Argentina                 2.39
2016-01-01      Australia                 3.74
2016-01-01         Brazil                 3.35
2016-01-01        Britain                 4.22
2016-01-01         Canada                 4.14
...                   ...                  ...
2010-01-01         Turkey                 3.83
2010-01-01            UAE                 2.99
2010-01-01        Ukraine                 1.83
2010-01-01  United States                 3.58
2010-01-01        Uruguay                 3.32

[652 rows x 2 columns]

In [ ]:
bigmac.set_index(keys = 'Country')

                    Date  Price in US Dollars
Country
Argentina     2016-01-01                 2.39
Australia     2016-01-01                 3.74
Brazil        2016-01-01                 3.35
Britain       2016-01-01                 4.22
Canada        2016-01-01                 4.14
...                  ...                  ...
Turkey        2010-01-01                 3.83
UAE           2010-01-01                 2.99
Ukraine       2010-01-01                 1.83
United States 2010-01-01                 3.58
Uruguay       2010-01-01                 3.32

[652 rows x 2 columns]

In [ ]:
bigmac.set_index(keys = ['Date','Country'],inplace = True)

In [ ]:
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [ ]:
bigmac.sort_index(level = 0)

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'])
bigmac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [ ]:
bigmac.set_index(keys = ['Date','Country'],inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [ ]:
bigmac.sort_index(level = 1)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
2010-07-01 Argentina                 3.56
2011-07-01 Argentina                 4.84
2012-01-01 Argentina                 4.64
2012-07-01 Argentina                 4.16
...                                   ...
2014-01-01 Vietnam                   2.84
2014-07-01 Vietnam                   2.83
2015-01-01 Vietnam                   2.81
2015-07-01 Vietnam                   2.75
2016-01-01 Vietnam                   2.67

[652 rows x 1 columns]

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'])
bigmac.set_index(keys = ['Date','Country'],inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [ ]:
bigmac.sort_index(inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'])
bigmac.set_index(keys = ['Date','Country'],inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [ ]:
bigmac.index

MultiIndex([('2016-01-01',      'Argentina'),
            ('2016-01-01',      'Australia'),
            ('2016-01-01',         'Brazil'),
            ('2016-01-01',        'Britain'),
            ('2016-01-01',         'Canada'),
            ('2016-01-01',          'Chile'),
            ('2016-01-01',          'China'),
            ('2016-01-01',       'Colombia'),
            ('2016-01-01',     'Costa Rica'),
            ('2016-01-01', 'Czech Republic'),
            ...
            ('2010-01-01',      'Sri Lanka'),
            ('2010-01-01',         'Sweden'),
            ('2010-01-01',    'Switzerland'),
            ('2010-01-01',         'Taiwan'),
            ('2010-01-01',       'Thailand'),
            ('2010-01-01',         'Turkey'),
            ('2010-01-01',            'UAE'),
            ('2010-01-01',        'Ukraine'),
            ('2010-01-01',  'United States'),
            ('2010-01-01',        'Uruguay')],
           names=['Date', 'Country'], length=652)

In [ ]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [ ]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [ ]:
bigmac.index[0]

(Timestamp('2016-01-01 00:00:00'), 'Argentina')

In [ ]:
bigmac.index[0][0]

Timestamp('2016-01-01 00:00:00')

In [ ]:
bigmac.index[0][1]

'Argentina'

In [ ]:
bigmac.index[-1]

(Timestamp('2010-01-01 00:00:00'), 'Uruguay')

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [ ]:
bigmac.index.get_level_values(0)

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [ ]:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [ ]:
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [ ]:
bigmac.index.set_names(['Day','Location'],inplace = True)
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [ ]:
bigmac.loc[('2010-01-01')]

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

In [ ]:
bigmac.loc[('2010-01-01','Canada')]

Price in US Dollars    3.97
Name: (2010-01-01 00:00:00, Canada), dtype: float64

In [ ]:
bigmac.loc[('2010-01-01','Canada'),'Price in US Dollars']

Date        Country
2010-01-01  Canada     3.97
Name: Price in US Dollars, dtype: float64

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [ ]:
bigmac.sort_index(ascending=[False,True]).head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Austria                   3.76
           Belgium                   4.25
           Brazil                    3.35

In [ ]:
bigmac = bigmac.transpose()
bigmac.head()

Date                2010-01-01                   ... 2016-01-01
Country              Argentina Australia Brazil  ...    Uruguay Venezuela Vietnam
Price in US Dollars       1.84      3.98   4.76  ...       3.74      0.66    2.67

[1 rows x 652 columns]

In [ ]:
bigmac.loc['Price in US Dollars',('2010-01-01')]

Date        Country
2010-01-01  Argentina         1.84
            Australia         3.98
            Brazil            4.76
            Britain           3.67
            Canada            3.97
            Chile             3.18
            China             1.83
            Colombia          3.91
            Costa Rica        3.52
            Czech Republic    3.71
            Denmark           5.99
            Egypt             2.38
            Euro area         4.84
            Hong Kong         1.91
            Hungary           3.86
            Indonesia         2.24
            Israel            3.99
            Japan             3.50
            Latvia            3.09
            Lithuania         2.87
            Malaysia          2.08
            Mexico            2.50
            New Zealand       3.61
            Norway            7.02
            Pakistan          2.42
            Peru              2.81
            Philippines       2.21
            Poland            2.86
            Russia            2.34
            Saudi Arabia      2.67
            Singapore         3.19
            South Africa      2.46
            South Korea       2.98
            Sri Lanka         1.83
            Sweden            5.51
            Switzerland       6.30
            Taiwan            2.36
            Thailand          2.11
            Turkey            3.83
            UAE               2.99
            Ukraine           1.83
            United States     3.58
            Uruguay           3.32
Name: Price in US Dollars, dtype: float64

In [ ]:
bigmac.loc['Price in US Dollars',('2010-01-01' , 'Canada')]

Date        Country
2010-01-01  Canada     3.97
Name: Price in US Dollars, dtype: float64

In [ ]:
bigmac = pd.read_csv(root + 'bigmac.csv',parse_dates= ['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [ ]:
bigmac.swaplevel().head()

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76
Britain   2010-01-01                 3.67
Canada    2010-01-01                 3.97

### The pd.melt() Method

In [ ]:
sales = pd.read_csv(root + 'quarters.csv')
sales.head()

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231
3   Travis  834663  266785  749238  570524
4   Donald  580935  411379  110390  651572

In [ ]:
pd.melt(sales ,id_vars='Salesman')

   Salesman variable   value
0     Boris       Q1  602908
1       Bob       Q1   43790
2     Tommy       Q1  392668
3    Travis       Q1  834663
4    Donald       Q1  580935
5       Ted       Q1  656644
6       Jeb       Q1  486141
7     Stacy       Q1  479662
8    Morgan       Q1  992673
9     Boris       Q2  233879
10      Bob       Q2  514863
11    Tommy       Q2  113579
12   Travis       Q2  266785
13   Donald       Q2  411379
14      Ted       Q2   70803
15      Jeb       Q2  600753
16    Stacy       Q2  742806
17   Morgan       Q2  879183
18    Boris       Q3  354479
19      Bob       Q3  297151
20    Tommy       Q3  430882
21   Travis       Q3  749238
22   Donald       Q3  110390
23      Ted       Q3  375948
24      Jeb       Q3  742716
25    Stacy       Q3  770712
26   Morgan       Q3   37945
27    Boris       Q4   32704
28      Bob       Q4  544493
29    Tommy       Q4  247231
30   Travis       Q4  570524
31   Donald       Q4  651572
32      Ted       Q4  321388
33      Jeb       Q4  404995
34    Stacy       Q4    2501
35   Morgan       Q4  293710

### The pivot() Method

In [ ]:
sales = pd.read_csv(root + 'salesmen.csv' , parse_dates=['Date'])
sales.Salesman = sales.Salesman.astype('category')
sales.head()

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-01-02      Bob     6362
2 2016-01-03      Bob     5982
3 2016-01-04      Bob     7917
4 2016-01-05      Bob     7837

In [ ]:
sales.Salesman.value_counts()

Bob       366
Dave      366
Jeb       366
Oscar     366
Ronald    366
Name: Salesman, dtype: int64

In [ ]:
sales.pivot(index = 'Date' , columns='Salesman' , values='Revenue')

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
...          ...   ...   ...    ...     ...
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

### The pivot_table() Method

In [ ]:
foods = pd.read_csv(root + 'foods.csv')
foods.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [ ]:
foods.pivot_table(values='Spend',index='City',aggfunc='mean')

                  Spend
City
New York      50.509808
Philadelphia  49.678384
Stamford      50.077012

In [ ]:
foods.pivot_table(values='Spend',index='Gender',aggfunc='mean')

            Spend
Gender
Female  50.709629
Male    49.397623

In [ ]:
foods.pivot_table(values='Spend',index='Gender',aggfunc='sum')

           Spend
Gender
Female  25963.33
Male    24106.04

In [ ]:
foods.pivot_table(values='Spend',index='Item',aggfunc='sum')

             Spend
Item
Burger     7765.73
Burrito    8270.44
Chalupa    7644.52
Donut      8758.76
Ice Cream  8886.99
Sushi      8742.93

In [ ]:
foods.pivot_table(values='Spend',index=['Item','Gender'],aggfunc='sum')

                    Spend
Item      Gender
Burger    Female  4094.30
          Male    3671.43
Burrito   Female  4257.82
          Male    4012.62
Chalupa   Female  4152.26
          Male    3492.26
Donut     Female  4743.00
          Male    4015.76
Ice Cream Female  4032.87
          Male    4854.12
Sushi     Female  4683.08
          Male    4059.85

In [ ]:
foods.pivot_table(values='Spend',index=['Item','Gender'],aggfunc='sum').loc[("Sushi","Female")]

Spend    4683.08
Name: (Sushi, Female), dtype: float64

In [ ]:
foods.pivot_table(values='Spend',index=['Item','Gender'],columns='City',aggfunc='sum')

City              New York  Philadelphia  Stamford
Item      Gender
Burger    Female   1239.04       1639.24   1216.02
          Male     1294.09        938.18   1439.16
Burrito   Female    978.95       1458.76   1820.11
          Male     1399.40       1312.93   1300.29
Chalupa   Female    876.58       1673.33   1602.35
          Male     1227.77       1114.23   1150.26
Donut     Female   1446.78       1639.26   1656.96
          Male     1345.27       1249.36   1421.13
Ice Cream Female   1521.62       1479.22   1032.03
          Male     1603.63       2191.27   1059.22
Sushi     Female   1480.29       1742.88   1459.91
          Male     1396.15       1395.88   1267.82

In [ ]:
foods.pivot_table(values='Spend',index=['Item','Gender'],columns=['City','Frequency'],aggfunc='sum')

City             New York                  ... Stamford
Frequency           Daily Monthly   Never  ...   Seldom  Weekly  Yearly
Item      Gender                           ...
Burger    Female   262.67  171.86   97.89  ...    97.53  155.02  307.03
          Male     319.46  187.29   90.32  ...   159.75  310.21  225.07
Burrito   Female   224.45  122.74  189.73  ...   234.49  230.91  172.98
          Male     236.21  147.54   86.78  ...     9.84  161.85  262.64
Chalupa   Female    43.19  158.37   35.15  ...   175.25  204.69  348.16
          Male      54.09  333.76  199.09  ...   174.02   44.37  116.19
Donut     Female   478.10  284.53   56.07  ...   104.66  440.06  224.48
          Male     230.00  183.73  219.63  ...   163.31  311.27   16.52
Ice Cream Female   262.19   92.53  206.15  ...   117.73  125.03   15.24
          Male     178.22  152.20   57.54  ...    40.83  239.42   96.32
Sushi     Female    81.07   93.16   69.33  ...    27.82  315.36  362.74
          Male     225.57  430.86  164.01  ...   224.15  338.16   48.71

[12 rows x 24 columns]

In [ ]:
foods.pivot_table(values='Spend',index=['Item','Gender'],columns='City',aggfunc='count')

City              New York  Philadelphia  Stamford
Item      Gender
Burger    Female        24            31        27
          Male          22            21        31
Burrito   Female        23            28        34
          Male          25            30        28
Chalupa   Female        19            32        25
          Male          25            23        23
Donut     Female        31            30        34
          Male          30            33        29
Ice Cream Female        27            32        22
          Male          29            41        25
Sushi     Female        31            30        32
          Male          27            28        18

In [ ]:
foods.pivot_table(values='Spend',index=['Item','Gender'],columns='City',aggfunc=['max','min'])

                      max                            min
City             New York Philadelphia Stamford New York Philadelphia Stamford
Item      Gender
Burger    Female    98.96        97.79    85.06     2.25         1.97     6.24
          Male      90.32        99.68    97.20     5.43         1.71     2.83
Burrito   Female    92.25        96.79    99.21     1.02         1.04     1.18
          Male      98.04        93.27    95.07    15.90         8.58     3.64
Chalupa   Female    98.43        99.29    98.78     1.96         9.35     9.09
          Male      96.44        98.40    99.87    11.61         1.94    10.56
Donut     Female    95.63        96.52    91.75     3.15         2.13     1.68
          Male      86.70        93.12    99.26     1.49         1.26     6.63
Ice Cream Female    97.83        88.14    97.44    13.39         7.61     8.80
          Male      97.65        99.24    99.17    14.06         4.89     3.43
Sushi     Female    99.51        99.02    95.43     2.52        11.68     8.20
          Male      93.85        97.12    98.48     3.28         2.01    32.15

### The groupby() Method

In [ ]:
fortune = pd.read_csv(root + 'fortune1000.csv')
fortune.head()

   Rank             Company       Sector  ... Revenue Profits  Employees
0     1             Walmart    Retailing  ...  482130   14694    2300000
1     2         Exxon Mobil       Energy  ...  246204   16150      75600
2     3               Apple   Technology  ...  233715   53394     110000
3     4  Berkshire Hathaway   Financials  ...  210821   24083     331000
4     5            McKesson  Health Care  ...  181241    1476      70400

[5 rows x 8 columns]

In [ ]:
fortune = pd.read_csv(root + 'fortune1000.csv', index_col = 'Rank')
fortune.head()

                 Company       Sector  ... Profits Employees
Rank                                   ...
1                Walmart    Retailing  ...   14694   2300000
2            Exxon Mobil       Energy  ...   16150     75600
3                  Apple   Technology  ...   53394    110000
4     Berkshire Hathaway   Financials  ...   24083    331000
5               McKesson  Health Care  ...    1476     70400

[5 rows x 7 columns]

In [ ]:
sectors = fortune.groupby('Sector')
sectors.size().sort_values(ascending= False)

Sector
Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Apparel                          15
Telecommunications               15
Food and Drug Stores             15
dtype: int64

In [ ]:
fortune.Sector.value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Apparel                          15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [ ]:
sectors.groups

{'Aerospace & Defense': [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], 'Apparel': [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], 'Business Services': [144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404, 440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694, 714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796, 801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993], 'Chemicals': [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], 'Energy': [2, 14, 30, 32, 42, 65, 90, 95, 98, 104, 115, 117, 121, 162, 163, 165, 166, 175, 178, 188, 190, 192, 193, 198, 214, 216, 217, 223, 225, 229, 243, 246, 247, 257, 272, 274, 279, 289, 319, 322, 324, 343, 348, 349, 350, 363, 364, 384, 387, 388, 394, 402, 403, 410, 425, 437, 438, 445, 458, 475, 483, 493, 507, 522, 541, 548, 556, 558, 569, 571, 579, 598, 600, 606, 633, 650, 656, 662, 679, 692, 696, 703, 703, 706, 711, 715, 732, 742, 743, 745, 754, 772, 784, 798, 802, 810, 817, 826, 843, 850, ...], 'Engineering & Construction': [155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516, 572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994], 'Financials': [4, 16, 23, 26, 27, 29, 35, 40, 43, 49, 50, 61, 69, 73, 74, 76, 78, 81, 82, 83, 85, 100, 105, 112, 114, 131, 135, 137, 152, 171, 179, 184, 205, 210, 222, 226, 227, 232, 236, 250, 252, 259, 264, 265, 271, 273, 275, 283, 298, 306, 311, 318, 326, 329, 332, 344, 347, 367, 368, 376, 382, 398, 401, 411, 421, 436, 442, 449, 453, 453, 471, 472, 472, 476, 479, 482, 486, 488, 494, 497, 499, 506, 509, 510, 520, 529, 531, 536, 540, 551, 561, 568, 573, 590, 603, 609, 611, 646, 651, 663, ...], 'Food and Drug Stores': [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], 'Food, Beverages & Tobacco': [41, 44, 62, 66, 84, 94, 106, 149, 153, 161, 176, 207, 215, 242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535, 542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795, 804, 889, 902, 954], 'Health Care': [5, 6, 12, 21, 22, 33, 39, 46, 52, 55, 63, 72, 79, 86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202, 263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420, 430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618, 629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815, 818, 845, 868, 881, 883, 935, 960, 965, 977, 978], 'Hotels, Resturants & Leisure': [109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557, 562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999], 'Household Products': [34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455, 533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950, 967, 992], 'Industrials': [11, 59, 75, 93, 97, 128, 134, 148, 211, 224, 360, 377, 396, 412, 419, 539, 544, 596, 622, 623, 630, 645, 655, 658, 666, 674, 690, 757, 782, 789, 806, 813, 823, 831, 832, 835, 841, 847, 866, 867, 873, 887, 942, 947, 964, 1000], 'Materials': [126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417, 418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620, 625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857, 885, 911, 982, 986], 'Media': [53, 96, 99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681, 705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989], 'Motor Vehicles & Parts': [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], 'Retailing': [1, 15, 28, 38, 47, 71, 89, 103, 111, 132, 136, 139, 143, 145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267, 269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379, 380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582, 592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748, 771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937, 940, 973], 'Technology': [3, 18, 20, 25, 31, 36, 51, 54, 77, 110, 113, 133, 150, 157, 158, 164, 173, 194, 219, 220, 230, 233, 284, 295, 300, 308, 313, 331, 385, 386, 400, 408, 409, 422, 451, 462, 464, 487, 491, 504, 505, 508, 513, 519, 524, 532, 543, 552, 563, 565, 584, 589, 593, 594, 612, 632, 634, 638, 649, 659, 673, 676, 678, 682, 688, 700, 725, 733, 736, 753, 760, 769, 778, 805, 830, 834, 842, 854, 864, 871, 888, 891, 893, 896, 904, 905, 906, 909, 912, 914, 919, 927, 931, 943, 944, 946, 956, 970, 971, 975, ...], 'Telecommunications': [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], 'Transportation': [48, 58, 67, 68, 80, 129, 142, 208, 239, 270, 353, 390, 395, 405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713, 740, 800, 814, 858, 884, 930, 933, 945, 972, 974], 'Wholesalers': [57, 64, 92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285, 315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477, 484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875, 991]}

In [ ]:
fortune.loc[24]

Company                     Boeing
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location               Chicago, IL
Revenue                      96114
Profits                       5176
Employees                   161400
Name: 24, dtype: object

In [ ]:
sectors.get_group('Technology')

                    Company      Sector  ... Profits Employees
Rank                                     ...
3                     Apple  Technology  ...   53394    110000
18               Amazon.com  Technology  ...     596    230800
20                       HP  Technology  ...    4554    287000
25                Microsoft  Technology  ...   12193    118000
31                      IBM  Technology  ...   13190    411798
...                     ...         ...  ...     ...       ...
970       Rackspace Hosting  Technology  ...     126      6189
971        VeriFone Systems  Technology  ...      79      5400
975    Super Micro Computer  Technology  ...     102      2285
984   Nuance Communications  Technology  ...    -115     13500
990             F5 Networks  Technology  ...     365      4178

[102 rows x 7 columns]

In [ ]:
fortune[fortune.Sector == 'Technology']

                    Company      Sector  ... Profits Employees
Rank                                     ...
3                     Apple  Technology  ...   53394    110000
18               Amazon.com  Technology  ...     596    230800
20                       HP  Technology  ...    4554    287000
25                Microsoft  Technology  ...   12193    118000
31                      IBM  Technology  ...   13190    411798
...                     ...         ...  ...     ...       ...
970       Rackspace Hosting  Technology  ...     126      6189
971        VeriFone Systems  Technology  ...      79      5400
975    Super Micro Computer  Technology  ...     102      2285
984   Nuance Communications  Technology  ...    -115     13500
990             F5 Networks  Technology  ...     365      4178

[102 rows x 7 columns]

In [ ]:
sectors.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [ ]:
# for sectors in fortune.Sector.unique():
#     fortune[fortune.Sector == 'Energy'][['Revenue','Profits','Employees']].sum()

In [ ]:
fortune[fortune.Sector == 'Energy']['Profits'].sum()

-73447

In [ ]:
sectors['Revenue'].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [ ]:
sectors['Revenue'].mean()

Sector
Aerospace & Defense             17897.000000
Apparel                          6397.866667
Business Services                5337.156863
Chemicals                        8129.900000
Energy                          12441.057377
Engineering & Construction       5922.423077
Financials                      15950.784173
Food and Drug Stores            32251.266667
Food, Beverages & Tobacco       12929.465116
Health Care                     21529.426667
Hotels, Resturants & Leisure     6781.840000
Household Products               8383.464286
Industrials                     10816.978261
Materials                        6026.627907
Media                            8830.560000
Motor Vehicles & Parts          20105.833333
Retailing                       18313.450000
Technology                      13505.882353
Telecommunications              30788.933333
Transportation                  11347.444444
Wholesalers                     11120.000000
Name: Revenue, dtype: float64

In [ ]:
sectors = fortune.groupby(['Sector','Industry'])
sectors.size().sort_values()

Sector          Industry
Wholesalers     Miscellaneous                                1
Industrials     Miscellaneous                                1
Energy          Miscellaneous                                1
Transportation  Miscellaneous                                1
Materials       Miscellaneous                                1
                                                            ..
Financials      Insurance: Property and Casualty (Stock)    28
Energy          Mining, Crude-Oil Production                28
Chemicals       Chemicals                                   30
Energy          Utilities: Gas and Electric                 41
Retailing       Specialty Retailers: Other                  42
Length: 79, dtype: int64

In [ ]:
sectors.sum()

                                                                   Revenue  ...  Employees
Sector              Industry                                                ...
Aerospace & Defense Aerospace and Defense                           357940  ...     968057
Apparel             Apparel                                          95968  ...     346397
Business Services   Advertising, marketing                           22748  ...     124100
                    Diversified Outsourcing Services                 64829  ...     708330
                    Education                                         7485  ...      46755
...                                                                    ...  ...        ...
Transportation      Trucking, Truck Leasing                          35950  ...     170456
Wholesalers         Miscellaneous                                     8982  ...       9200
                    Wholesalers: Diversified                        176138  ...     233831
                    Wholesalers: Electronics and Office Equipment   147906  ...     166661
                    Wholesalers: Food and Grocery                   111774  ...     115905

[79 rows x 3 columns]

# Practice Pandas

Pycon 2019 : Data Science Best Practice with Pandas


Dataset: https://www.kaggle.com/rounakbanik/ted-talks

code:    https://github.com/justmarkham/pycon-2019-tutorial

video:   https://www.youtube.com/watch?v=dPwLlJkSHLo


if you want you can send your works to :

my email : alisharifisearch@gmail.com with subject DataBootCamp

my telegram : @AlphaLimaIndia1998 with #DataBootCamp

# Numpy

In [ ]:
import numpy as np
np.__version__

'1.21.6'

## Creating Numpy array

### single element

In [ ]:
my_array = np.array([5,2,3,6,7.6,43])
my_array

array([ 5. ,  2. ,  3. ,  6. ,  7.6, 43. ])

In [ ]:
type(my_array)

numpy.ndarray

In [ ]:
my_array[0]

5.0

In [ ]:
my_array[2]

3.0

In [ ]:
my_array[0] = 12.5
my_array

array([12.5,  2. ,  3. ,  6. ,  7.6, 43. ])

In [ ]:
my_array[4] = 1+5j
my_array

TypeError: ignored

In [ ]:
my_array = np.array([0+5j,2j,1+1j,6+0j,7.6+1j,43])
my_array

array([ 0. +5.j,  0. +2.j,  1. +1.j,  6. +0.j,  7.6+1.j, 43. +0.j])

In [ ]:
my_list = [-18,4,5,68,9,0]
my_array_from_list = np.array(my_list)
my_array_from_list

array([-18,   4,   5,  68,   9,   0])

In [ ]:
my_array_from_list*10

array([-180,   40,   50,  680,   90,    0])

In [ ]:
my_array_from_list - 10

array([-28,  -6,  -5,  58,  -1, -10])

In [ ]:
my_array_from_list / 10

array([-1.8,  0.4,  0.5,  6.8,  0.9,  0. ])

In [ ]:
my_tuple = (-14,5,4.5,5+5j)
np.array(my_tuple)

array([-14. +0.j,   5. +0.j,   4.5+0.j,   5. +5.j])

In [ ]:
my_tuple*2

(-14, 5, 4.5, (5+5j), -14, 5, 4.5, (5+5j))

In [ ]:
my_tuple = (-14,5,4.5,5+5j)
np.array(my_tuple) * 2

array([-28. +0.j,  10. +0.j,   9. +0.j,  10.+10.j])

### arange()

In [ ]:
np.arange(10,23)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22])

In [ ]:
my_list = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
np.array(my_list)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22])

In [ ]:
np.arange(10,23) * 5 + 1 - 5

array([ 46,  51,  56,  61,  66,  71,  76,  81,  86,  91,  96, 101, 106])

In [ ]:
np.arange(10,24,3)

array([10, 13, 16, 19, 22])

In [ ]:
np.arange(10,24,5)

array([10, 15, 20])

In [ ]:
np.arange(25)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [ ]:
np.arange(25,step = 5)

array([ 0,  5, 10, 15, 20])

### linspace()

In [ ]:
np.linspace(5,15,9)

array([ 5.  ,  6.25,  7.5 ,  8.75, 10.  , 11.25, 12.5 , 13.75, 15.  ])

In [ ]:
lin = np.linspace(5,15,9,retstep = True)
print(lin)
print(lin[0])
print(lin[1])

(array([ 5.  ,  6.25,  7.5 ,  8.75, 10.  , 11.25, 12.5 , 13.75, 15.  ]), 1.25)
[ 5.    6.25  7.5   8.75 10.   11.25 12.5  13.75 15.  ]
1.25

### zeros()

In [ ]:
np.zeros((5,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
np.zeros((5,2,2))

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]])

In [ ]:
np.zeros((5,3),dtype = 'int64')

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

### ones()

In [ ]:
np.ones((5,3),dtype = 'int64')

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [ ]:
np.ones((5,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

### full()

In [ ]:
np.full((2, 2), 10)

array([[10, 10],
       [10, 10]])

In [ ]:
np.full((2, 2), [1,2])

array([[1, 2],
       [1, 2]])

In [ ]:
np.full((2, 2), [1,2,3])

ValueError: ignored

In [ ]:
np.full((2, 2), np.inf)

array([[inf, inf],
       [inf, inf]])

### identity()

In [ ]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

### eye()

![image.png]()

In [ ]:
np.eye(2)

array([[1., 0.],
       [0., 1.]])

In [ ]:
np.eye(2, dtype=int)

array([[1, 0],
       [0, 1]])

In [ ]:
np.eye(3, k=1)

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [ ]:
np.eye(3, k=-1)

array([[0., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [ ]:
np.eye(3, k=2)

array([[0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
np.eye(3, k=-2)

array([[0., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.]])

### tri()

In [ ]:
np.tri(3, 5, k=0, dtype=int)

array([[1, 0, 0, 0, 0],
       [1, 1, 0, 0, 0],
       [1, 1, 1, 0, 0]])

In [ ]:
np.tri(3, 5, k=0)

array([[1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.]])

In [ ]:
np.tri(5, 5, k=0)

array([[1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1.]])

In [ ]:
np.tri(5, 5, k=1)

array([[1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
np.tri(5, 5, k=3)

array([[1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
np.tri(5, 5, k=-1)

array([[0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0.]])

### triu()

In [ ]:
np.triu([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])

array([[ 1,  2,  3,  4],
       [ 0,  6,  7,  8],
       [ 0,  0, 11, 12],
       [ 0,  0,  0, 16]])

In [ ]:
np.triu([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]],k=1)

array([[ 0,  2,  3,  4],
       [ 0,  0,  7,  8],
       [ 0,  0,  0, 12],
       [ 0,  0,  0,  0]])

In [ ]:
np.triu([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]],k=-1)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 0, 10, 11, 12],
       [ 0,  0, 15, 16]])

### tril()

In [ ]:
np.tril([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])

array([[ 1,  0,  0,  0],
       [ 5,  6,  0,  0],
       [ 9, 10, 11,  0],
       [13, 14, 15, 16]])

In [ ]:
np.tril([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]],k=1)

array([[ 1,  2,  0,  0],
       [ 5,  6,  7,  0],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
np.tril([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]],k=-1)

array([[ 0,  0,  0,  0],
       [ 5,  0,  0,  0],
       [ 9, 10,  0,  0],
       [13, 14, 15,  0]])

### diag()

In [ ]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
np.diag(arr,k=0)

array([ 1,  6, 11, 16])

In [ ]:
np.diag(arr,k=-1)

array([ 5, 10, 15])

In [ ]:
np.diag(arr,k=1)

array([ 2,  7, 12])

In [ ]:
np.diag(arr,k=2)

array([3, 8])

## shape

In [ ]:
my_array = np.arange(35)
my_array.shape

(35,)

In [ ]:
my_array = np.arange(35)
my_array.shape = (7,5)
my_array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34]])

In [ ]:
my_array = np.arange(35)
my_array.shape = (7,6)
my_array

ValueError: ignored

In [ ]:
my_array = np.arange(35)
my_array.shape = (7,2)
my_array

ValueError: ignored

In [ ]:
my_array = np.arange(5,35,2)
my_array

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33])

In [ ]:
my_array = np.arange(35)
my_array = my_array.reshape(7,5)
my_array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34]])

In [ ]:
my_array[3,2]

17

In [ ]:
my_array[0][0]

0

In [ ]:
my_array[5]

array([25, 26, 27, 28, 29])

## Fitlering

In [ ]:
my_array = np.arange(25)
my_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [ ]:
zero_mod_mask = (my_array % 7 == 0)
zero_mod_mask

array([ True, False, False, False, False, False, False,  True, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False])

In [ ]:
my_array[zero_mod_mask]

array([ 0,  7, 14, 21])

In [ ]:
subarray = my_array[zero_mod_mask]
subarray[subarray > 0]

array([ 7, 14, 21])

In [ ]:
my_array[my_array%7 == 0]

array([ 0,  7, 14, 21])

In [ ]:
mask1 = (my_array % 7 == 0)
mask1

array([ True, False, False, False, False, False, False,  True, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False])

In [ ]:
mask2 = (my_array > 0)
mask2

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [ ]:
mask1 & mask2

array([False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False])

In [ ]:
mask1 = (my_array % 7 == 0)
mask2 = (my_array > 0)
combined_mask = mask1 & mask2
combined_mask

array([False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False])

In [ ]:
my_array[combined_mask]

array([ 7, 14, 21])

## concat

![image.png]()

In [ ]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6]])

print ("1st array : \n ", a)  
print ("2nd array : \n ", b)  

out_arr = np.concatenate((a, b), axis=0)
print ("added array : \n", out_arr)

1st array :
  [[1 2]
 [3 4]]
2nd array :
  [[5 6]]
added array :
 [[1 2]
 [3 4]
 [5 6]]

In [ ]:
b = np.array([[5, 6]])
print(b)
print(b.T)

[[5 6]]
[[5]
 [6]]

In [ ]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6]])

print ("1st array : \n ", a)  
print ("2nd array : \n ", b)  

out_arr = np.concatenate((a, b.T), axis=1)
print ("added array : \n ", out_arr)

1st array :
  [[1 2]
 [3 4]]
2nd array :
  [[5 6]]
added array :
  [[1 2 5]
 [3 4 6]]

In [ ]:
b = np.array([5, 6])
print(b)
print(b.T)

[5 6]
[5 6]

In [ ]:
a = np.array([[1, 2], [3, 4]])
b = np.array([5, 6])

print ("1st array : \n ", a)  
print ("2nd array : \n ", b)  

out_arr = np.concatenate((a, b), axis=None)
print ("array : \n ", out_arr)

1st array :
  [[1 2]
 [3 4]]
2nd array :
  [5 6]
array :
  [1 2 3 4 5 6]

## math

In [ ]:
arr1 = np.array([3, 2, 1])
arr2 = np.array([1, 2, 3])
   
print ("1st array : ", arr1)  
print ("2nd array : ", arr2)  
   
out_arr = np.add(arr1, arr2)  
print ("array : ", out_arr)

1st array :  [3 2 1]
2nd array :  [1 2 3]
array :  [4 4 4]

In [ ]:
arr1 = np.array([3, 2, 1])
arr2 = np.array([1, 2, 3])
   
print ("1st array : ", arr1)  
print ("2nd array : ", arr2)  
   
out_arr = arr1 + arr2
print ("array : ", out_arr)

1st array :  [3 2 1]
2nd array :  [1 2 3]
array :  [4 4 4]

In [ ]:
arr1 = np.array([3, 2, 1])
arr2 = np.array([5, 5, 5])
   
print ("1st array : ", arr1)  
print ("2nd array : ", arr2)  
   
out_arr = arr1 + arr2
print ("array : ", out_arr)

1st array :  [3 2 1]
2nd array :  [5 5 5]
array :  [8 7 6]

In [ ]:
arr1 = np.array([3, 2, 1])
num1 = 5
   
print ("1st array : ", arr1)   
   
out_arr = arr1 + num1 
print ("array : ", out_arr)

1st array :  [3 2 1]
array :  [8 7 6]

In [ ]:
arr1 = np.arange(9.0).reshape((3, 3))
arr2 = np.arange(9.0).reshape((3, 3))
   
print ("1st array : \n", arr1)  
print ("2nd array : \n", arr2)  
   
out_arr = arr1 * arr2
print ("array : \n", out_arr)

1st array :
 [[0. 1. 2.]
 [3. 4. 5.]
 [6. 7. 8.]]
2nd array :
 [[0. 1. 2.]
 [3. 4. 5.]
 [6. 7. 8.]]
array :
 [[ 0.  1.  4.]
 [ 9. 16. 25.]
 [36. 49. 64.]]

In [ ]:
arr1 = np.arange(9.0).reshape((3, 3))
arr2 = np.arange(3.0)
   
print ("1st array : \n", arr1)  
print ("2nd array : \n", arr2)  
   
out_arr = arr1 * arr2
print ("array : \n", out_arr)

1st array :
 [[0. 1. 2.]
 [3. 4. 5.]
 [6. 7. 8.]]
2nd array :
 [0. 1. 2.]
array :
 [[ 0.  1.  4.]
 [ 0.  4. 10.]
 [ 0.  7. 16.]]

In [ ]:
arr1 = np.arange(9.0).reshape((3, 3))
arr2 = np.arange(3.0)

print ("1st array : \n", arr1)  
print ("2nd array : \n", arr2)

out_arr = np.multiply(arr1, arr2)
print ("array : \n ", out_arr)

1st array :
 [[0. 1. 2.]
 [3. 4. 5.]
 [6. 7. 8.]]
2nd array :
 [0. 1. 2.]
array :
  [[ 0.  1.  4.]
 [ 0.  4. 10.]
 [ 0.  7. 16.]]

In [ ]:
arr1 =  np.array([[1, 0],
              [0, 1]])

arr2 = np.array([[4, 1],
                [2, 2]])

out_arr =  np.matmul(arr1, arr2)
print ("array : \n " ,out_arr)

array :
  [[4 1]
 [2 2]]

## sin()

In [ ]:
np.sin(np.pi/2)

1.0

In [ ]:
np.sin(0)

0.0

## arcsin()

In [ ]:
np.arcsin(0)

0.0

## cos()

In [ ]:
np.cos(np.array([0, np.pi, 2*np.pi]))

array([ 1., -1.,  1.])

## det()

In [ ]:
a = np.array([[1, 2], [3, 4]])
np.linalg.det(a)

-2.0000000000000004

## trace()

In [ ]:
np.eye(3 , k =1 )

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [ ]:
np.trace(np.eye(3 , k = 1))

0.0

## any()

In [ ]:
a = np.array([[True,False],[True,True]])
a

array([[ True, False],
       [ True,  True]])

In [ ]:
a

array([[ True, False],
       [ True,  True]])

In [ ]:
np.all(a)

False

In [ ]:
a = np.array([[True,True],[True,True]])
np.all(a)

True

![image.png]()

In [ ]:
a = np.array([[True,False],[True,True]])
a

array([[ True, False],
       [ True,  True]])

In [ ]:
a

array([[ True, False],
       [ True,  True]])

In [ ]:
np.all(a,axis = 0)

array([ True, False])

In [ ]:
np.all(a,axis = 1)

array([ True,  True])

In [ ]:
a = np.array([[[True,False],[True,True],[True,True]],[[True,False],[True,True],[True,True]]])
a

array([[[ True, False],
        [ True,  True],
        [ True,  True]],

       [[ True, False],
        [ True,  True],
        [ True,  True]]])

In [ ]:
a.shape

(2, 3, 2)

In [ ]:
np.all(a,axis = 2)

array([[False,  True,  True],
       [False,  True,  True]])

In [ ]:
np.all(a,axis = 1)

array([[ True, False],
       [ True, False]])

In [ ]:
np.all(a,axis = 0)

array([[ True, False],
       [ True,  True],
       [ True,  True]])

## floor()

In [ ]:
a = np.array([-1.7, -1.5, -0.2, 0.2, 1.5, 1.7, 2.0])
np.floor(a)

array([-2., -2., -1.,  0.,  1.,  1.,  2.])

## ceil()

In [ ]:
a = np.array([-1.7, -1.5, -0.2, 0.2, 1.5, 1.7, 2.0])
np.ceil(a)

array([-1., -1., -0.,  1.,  2.,  2.,  2.])

## prod()

In [ ]:
np.prod([1.,2.,3.])

6.0

In [ ]:
a = np.arange(1,9).reshape((4, 2))
a

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
np.prod(a)

40320

In [ ]:
np.prod(a,axis=0)

array([105, 384])

In [ ]:
np.prod(a,axis=1)

array([ 2, 12, 30, 56])

## sum()

In [ ]:
np.sum([0.5, 1.5])

2.0

In [ ]:
a = np.arange(1,9).reshape((4, 2))
a

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
np.sum(a)

36

In [ ]:
np.sum(a,axis=0)

array([16, 20])

In [ ]:
np.sum(a,axis=1)

array([ 3,  7, 11, 15])

## sqrt()

In [ ]:
np.sqrt([1,4,9])

array([1., 2., 3.])

## sign()

In [ ]:
np.sign([-5., 4.5 , 0])

array([-1.,  1.,  0.])

## where()

In [ ]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.where(a < 5, a, 10*a)

array([ 0,  1,  2,  3,  4, 50, 60, 70, 80, 90])

## save & load numpy array

In [ ]:
x = np.arange(10)

np.save('outfile.npy', x)

In [ ]:
with open('outfile.npy', 'rb') as f:
    a = np.load(f)
    print(a)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
with open('test.npy', 'wb') as f:

    np.save(f, np.array([1, 2]))

    np.save(f, np.array([1, 3]))

with open('test.npy', 'rb') as f:

    a = np.load(f)

    b = np.load(f)

In [ ]:
a

array([1, 2])

In [ ]:
b

array([1, 3])